openapi: 3.1.0
info:
  title: Elements Supply API
  version: "2025.11.0"
  summary: Canonical contract for the Elements Supply public API.
  description: |
    Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single
    public API for authenticated buyers, suppliers, and platform administrators. All responses
    are wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to
    the schemas defined in this spec. Unless noted otherwise, every path requires either a
    bearer token (Sanctum personal access token) or an API key issued by the platform admin
    console.
contact:
  name: Elements Supply Team
  url: https://elements-supply.ai
  email: support@elements-supply.ai
servers:
  - url: https://api.elements-supply.ai
    description: Production API endpoint
  - url: https://{tenant}.elements-supply.ai
    description: Tenant-scoped production endpoint
    variables:
      tenant:
        description: Subdomain slug for the tenant (e.g. `acme`)
        default: app
  - url: http://localhost/api
    description: Local development
externalDocs:
  description: Full product requirements
  url: https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md
tags:
  - name: Health
    description: Readiness and diagnostic endpoints
  - name: Auth
    description: Authentication session management and API key usage
  - name: RFQs
    description: Manage requests for quotation and related supplier interactions
  - name: Quotes
    description: Quote submission, revision, and award workflows
  - name: Purchase Orders
    description: Purchase order lifecycle, change orders, and totals
  - name: Invoices
    description: Invoicing, credit notes, and financial reconciliation
  - name: Inventory
    description: Goods receipt, issues, and warehouse movements
  - name: Exports
    description: Bulk data export creation and download
  - name: Localization
    description: Localization settings, units of measure, and conversions
  - name: Money
    description: Monetary settings, FX rates, and tax configuration
  - name: Admin
    description: Platform administration (plans, health, read-only reference data)
  - name: Webhooks
    description: Outbound webhook subscription formats and delivery expectations
x-fragments:
  description: Ordered list of YAML fragments that are merged into the root spec when built.
  order:
    - auth.yaml
    - rfqs.yaml
    - quotes.yaml
    - purchase-orders.yaml
    - invoices.yaml
    - inventory.yaml
    - exports.yaml
    - localization.yaml
    - money.yaml
    - admin.yaml
    - webhooks.yaml
security:
  - bearerAuth: []
  - apiKeyAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific
        company tenant and inherit the permissions assigned to the issuing user.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API keys are issued and rotated in the platform admin console. Include the value in the
        `X-API-Key` header to authenticate machine-to-machine integrations.
  parameters:
    XRequestId:
      name: X-Request-Id
      in: header
      required: false
      description: Correlates requests across services. Echoed back on every response when supplied.
      schema:
        type: string
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Overrides language resolution when localization features are enabled.
      schema:
        type: string
    CursorQuery:
      name: cursor
      in: query
      required: false
      description: Cursor token for pagination.
      schema:
        type: string
    PageQuery:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
    PerPageQuery:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
  headers:
    XRequestId:
      description: Unique identifier for the current request.
      schema:
        type: string
    XRateLimitLimit:
      description: Maximum number of requests allowed in the current window.
      schema:
        type: integer
    XRateLimitRemaining:
      description: Remaining requests available in the current window.
      schema:
        type: integer
    XRateLimitReset:
      description: Seconds until the current rate limit window resets.
      schema:
        type: integer
    XTraceId:
      description: Internal trace identifier for support escalations.
      schema:
        type: string
  schemas:
    ApiSuccessResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          enum: [success]
        message:
          type: string
          nullable: true
        data:
          description: Module-specific payload.
        meta:
          $ref: '#/components/schemas/PageMeta'
      additionalProperties: false
    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        code:
          type: string
          nullable: true
        errors:
          type: object
          description: Field-level validation errors keyed by attribute.
          additionalProperties:
            type: array
            items:
              type: string
        data:
          nullable: true
          description: Always null for error responses.
      additionalProperties: false
    PageMeta:
      type: object
      description: Pagination metadata for page/offset endpoints.
      required:
        - total
        - per_page
        - current_page
        - last_page
      properties:
        total:
          type: integer
          minimum: 0
        per_page:
          type: integer
          minimum: 1
        current_page:
          type: integer
          minimum: 1
        last_page:
          type: integer
          minimum: 1
    CursorMeta:
      type: object
      description: Pagination metadata for cursor endpoints.
      required:
        - next_cursor
      properties:
        next_cursor:
          type: string
          nullable: true
        prev_cursor:
          type: string
          nullable: true
        has_next:
          type: boolean
        has_prev:
          type: boolean
    Money:
      type: object
      description: Monetary amount with major/minor units.
      required:
        - amount
        - currency
        - amount_minor
      properties:
        amount:
          type: string
          pattern: ^-?\d+\.\d{2}$
        amount_minor:
          type: integer
        currency:
          type: string
          minLength: 3
          maxLength: 3
    Timeline:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Unauthorized.
            data: null
    Forbidden:
      description: Authenticated but lacking required permissions.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Forbidden.
            data: null
    NotFound:
      description: Resource not found.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Not found
            data: null
    ValidationError:
      description: Payload validation failed.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: The given data was invalid.
            errors:
              item_name:
                - The item name field is required.
            data: null
paths: {}
