openapi: 3.1.0
info:
  title: Elements Supply API
  version: "2025.11.0"
  summary: Canonical contract for the Elements Supply public API.
  description: |
    Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single
    public API for authenticated buyers, suppliers, and platform administrators. All responses
    are wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to
    the schemas defined in this spec. Unless noted otherwise, every path requires either a
    bearer token (Sanctum personal access token) or an API key issued by the platform admin
    console.
  contact:
    name: Elements Supply Team
    url: https://elements-supply.ai
    email: support@elements-supply.ai
servers:
  - url: https://api.elements-supply.ai
    description: Production API endpoint
  - url: https://{tenant}.elements-supply.ai
    description: Tenant-scoped production endpoint
    variables:
      tenant:
        description: Subdomain slug for the tenant (e.g. `acme`)
        default: app
  - url: http://localhost/api
    description: Local development
externalDocs:
  description: Full product requirements
  url: https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md
tags:
  - name: Health
    description: Readiness and diagnostic endpoints
  - name: Auth
    description: Authentication session management and API key usage
  - name: RFQs
    description: Manage requests for quotation and related supplier interactions
  - name: Quotes
    description: Quote submission, revision, and award workflows
  - name: Purchase Orders
    description: Purchase order lifecycle, change orders, and totals
  - name: Orders
    description: Supplier-facing order visibility endpoints
  - name: Invoices
    description: Invoicing, credit notes, and financial reconciliation
  - name: Inventory
    description: Goods receipt, issues, and warehouse movements
  - name: Exports
    description: Bulk data export creation and download
  - name: CRM
    description: Customer relationship data exports and insights
  - name: Suppliers
    description: Supplier directory, segments, and applications
  - name: Notifications
    description: In-app notification feeds and read state management
  - name: Risk
    description: Supplier risk scoring and refresh workflows
  - name: Digital Twin
    description: Asset telemetry, synchronization, and work orders
  - name: Analytics
    description: Self-serve analytics reports and scheduled runs
  - name: Copilot
    description: AI-assisted workflows and prompt catalogues
  - name: Documents
    description: File uploads and document staging APIs
  - name: Settings
    description: Tenant-level configuration (company profile, localization, numbering)
  - name: Localization
    description: Localization settings, units of measure, and conversions
  - name: Money
    description: Monetary settings, FX rates, and tax configuration
  - name: Approvals
    description: Purchase order approval rules, requests, and delegations
  - name: Admin
    description: Platform administration (plans, health, read-only reference data)
  - name: Webhooks
    description: Outbound webhook subscription formats and delivery expectations
x-fragments:
  description: Ordered list of YAML fragments that are merged into the root spec when built.
  order:
    - auth.yaml
    - companies_plans.yaml
    - invitations.yaml
    - suppliers.yaml
    - crm.yaml
    - rfqs.yaml
    - quotes.yaml
    - purchase_orders.yaml
    - orders.yaml
    - invoices.yaml
    - credit_notes.yaml
    - inventory.yaml
    - exports.yaml
    - analytics.yaml
    - risk.yaml
    - digital_twin.yaml
    - notifications.yaml
    - copilot.yaml
    - files.yaml
    - settings.yaml
    - localization.yaml
    - money_tax.yaml
    - approvals.yaml
    - admin.yaml
    - webhooks.yaml
    - search.yaml
security:
  - bearerAuth: []
  - apiKeyAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific
        company tenant and inherit the permissions assigned to the issuing user.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API keys are issued and rotated in the platform admin console. Include the value in the
        `X-API-Key` header to authenticate machine-to-machine integrations.
  parameters:
    XRequestId:
      name: X-Request-Id
      in: header
      required: false
      description: Correlates requests across services. Echoed back on every response when supplied.
      schema:
        type: string
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Overrides language resolution when localization features are enabled.
      schema:
        type: string
    CursorQuery:
      name: cursor
      in: query
      required: false
      description: Cursor token for pagination.
      schema:
        type: string
    PageQuery:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
    PerPageQuery:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
  headers:
    XRequestId:
      description: Unique identifier for the current request.
      schema:
        type: string
    XRateLimitLimit:
      description: Maximum number of requests allowed in the current window.
      schema:
        type: integer
    XRateLimitRemaining:
      description: Remaining requests available in the current window.
      schema:
        type: integer
    XRateLimitReset:
      description: Seconds until the current rate limit window resets.
      schema:
        type: integer
    XTraceId:
      description: Internal trace identifier for support escalations.
      schema:
        type: string
  schemas:
    SuccessEnvelope:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          enum: [success]
        message:
          type: string
          nullable: true
        data:
          description: Module-specific payload.
        meta:
          $ref: '#/components/schemas/RequestMeta'
      additionalProperties: false
      description: Wrapper for all successful responses. `meta.request_id` always echoes the inbound `X-Request-Id` or an internally generated UUID.
    ErrorEnvelope:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        code:
          type: string
          nullable: true
        errors:
          type: object
          description: Field-level validation errors keyed by attribute.
          additionalProperties:
            type: array
            items:
              type: string
        data:
          nullable: true
          description: Always null for error responses.
      additionalProperties: false
    ApiSuccessResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
    ApiErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorEnvelope'
    RequestMeta:
      type: object
      description: Metadata applied to every successful response. Includes request correlation identifiers and pagination cursors.
      required:
        - request_id
      properties:
        request_id:
          type: string
          description: UUID assigned to the request (matches `X-Request-Id`).
        pagination:
          $ref: '#/components/schemas/PageMeta'
        cursor:
          $ref: '#/components/schemas/CursorMeta'
      additionalProperties: false
    EnvelopeMeta:
      allOf:
        - $ref: '#/components/schemas/RequestMeta'
      description: Legacy alias for response metadata. # TODO: clarify if consumers should migrate to RequestMeta directly.
    PageMeta:
      type: object
      description: Page/offset pagination metadata.
      required:
        - current_page
        - per_page
        - total
        - last_page
      properties:
        total:
          type: integer
          minimum: 0
        per_page:
          type: integer
          minimum: 1
        current_page:
          type: integer
          minimum: 1
        last_page:
          type: integer
          minimum: 1
        page:
          type: integer
          minimum: 1
          readOnly: true
          description: Alias provided for SDK ergonomics. Mirrors `current_page`.
    CursorMeta:
      type: object
      description: Pagination metadata for cursor endpoints.
      required:
        - next_cursor
      properties:
        next_cursor:
          type: string
          nullable: true
        prev_cursor:
          type: string
          nullable: true
        has_next:
          type: boolean
        has_prev:
          type: boolean
    Money:
      type: object
      description: Monetary amount expressed in minor units. `amount` is derived from `amount_minor` and `currency` using the company rounding rules.
      required:
        - amount_minor
        - currency
        - amount
      properties:
        amount_minor:
          type: integer
        currency:
          type: string
          minLength: 3
          maxLength: 3
        amount:
          type: number
          format: float
          description: Derived major-unit representation. Submitters may omit; backend recalculates using company precision.
    Timeline:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp in the tenant's configured timezone.
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp in the tenant's configured timezone.
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 timestamp in the tenant's configured timezone.
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Unauthorized.
            data: null
    Forbidden:
      description: Authenticated but lacking required permissions.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Forbidden.
            data: null
    NotFound:
      description: Resource not found.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Not found
            data: null
    ValidationError:
      description: Payload validation failed.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: The given data was invalid.
            errors:
              item_name:
                - The item name field is required.
            data: null
    TooManyRequests:
      description: Rate limit exceeded for the current identity.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/XRateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/XRateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/XRateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Request limit exceeded, retry later.
            code: RATE_LIMIT_EXCEEDED
            data: null
    ServerError:
      description: Unexpected server error. Contact support with the supplied request identifier.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/XRequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
          example:
            status: error
            message: Unexpected error occurred.
            data: null
paths: {}
