{
    "openapi": "3.1.0",
    "info": {
        "title": "Elements Supply API",
        "version": "2025.11.0",
        "summary": "Canonical contract for the Elements Supply public API.",
        "description": "Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single\npublic API for authenticated buyers, suppliers, and platform administrators. All responses\nare wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to\nthe schemas defined in this spec. Unless noted otherwise, every path requires either a\nbearer token (Sanctum personal access token) or an API key issued by the platform admin\nconsole.\n",
        "contact": {
            "name": "Elements Supply Team",
            "url": "https://elements-supply.ai",
            "email": "support@elements-supply.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.elements-supply.ai",
            "description": "Production API endpoint"
        },
        {
            "url": "https://{tenant}.elements-supply.ai",
            "description": "Tenant-scoped production endpoint",
            "variables": {
                "tenant": {
                    "description": "Subdomain slug for the tenant (e.g. `acme`)",
                    "default": "app"
                }
            }
        },
        {
            "url": "http://localhost/api",
            "description": "Local development"
        }
    ],
    "externalDocs": {
        "description": "Full product requirements",
        "url": "https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md"
    },
    "tags": [
        {
            "name": "Health",
            "description": "Readiness and diagnostic endpoints"
        },
        {
            "name": "Auth",
            "description": "Authentication session management and API key usage"
        },
        {
            "name": "RFQs",
            "description": "Manage requests for quotation and related supplier interactions"
        },
        {
            "name": "Quotes",
            "description": "Quote submission, revision, and award workflows"
        },
        {
            "name": "Purchase Orders",
            "description": "Purchase order lifecycle, change orders, and totals"
        },
        {
            "name": "Orders",
            "description": "Supplier-facing order visibility endpoints"
        },
        {
            "name": "Invoices",
            "description": "Invoicing, credit notes, and financial reconciliation"
        },
        {
            "name": "Inventory",
            "description": "Goods receipt, issues, and warehouse movements"
        },
        {
            "name": "Exports",
            "description": "Bulk data export creation and download"
        },
        {
            "name": "CRM",
            "description": "Customer relationship data exports and insights"
        },
        {
            "name": "Suppliers",
            "description": "Supplier directory, segments, and applications"
        },
        {
            "name": "Notifications",
            "description": "In-app notification feeds and read state management"
        },
        {
            "name": "Risk",
            "description": "Supplier risk scoring and refresh workflows"
        },
        {
            "name": "Digital Twin",
            "description": "Asset telemetry, synchronization, and work orders"
        },
        {
            "name": "Analytics",
            "description": "Self-serve analytics reports and scheduled runs"
        },
        {
            "name": "Copilot",
            "description": "AI-assisted workflows and prompt catalogues"
        },
        {
            "name": "Documents",
            "description": "File uploads and document staging APIs"
        },
        {
            "name": "Localization",
            "description": "Localization settings, units of measure, and conversions"
        },
        {
            "name": "Money",
            "description": "Monetary settings, FX rates, and tax configuration"
        },
        {
            "name": "Approvals",
            "description": "Purchase order approval rules, requests, and delegations"
        },
        {
            "name": "Admin",
            "description": "Platform administration (plans, health, read-only reference data)"
        },
        {
            "name": "Webhooks",
            "description": "Outbound webhook subscription formats and delivery expectations"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API keys are issued and rotated in the platform admin console. Include the value in the\n`X-API-Key` header to authenticate machine-to-machine integrations.\n"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific\ncompany tenant and inherit the permissions assigned to the issuing user.\n"
            }
        },
        "parameters": {
            "AcceptLanguage": {
                "name": "Accept-Language",
                "in": "header",
                "required": false,
                "description": "Overrides language resolution when localization features are enabled.",
                "schema": {
                    "type": "string"
                }
            },
            "CursorQuery": {
                "name": "cursor",
                "in": "query",
                "required": false,
                "description": "Cursor token for pagination.",
                "schema": {
                    "type": "string"
                }
            },
            "PageQuery": {
                "name": "page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1
                }
            },
            "PerPageQuery": {
                "name": "per_page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                }
            },
            "XRequestId": {
                "name": "X-Request-Id",
                "in": "header",
                "required": false,
                "description": "Correlates requests across services. Echoed back on every response when supplied.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "headers": {
            "XRateLimitLimit": {
                "description": "Maximum number of requests allowed in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitRemaining": {
                "description": "Remaining requests available in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitReset": {
                "description": "Seconds until the current rate limit window resets.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRequestId": {
                "description": "Unique identifier for the current request.",
                "schema": {
                    "type": "string"
                }
            },
            "XTraceId": {
                "description": "Internal trace identifier for support escalations.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "AdminHealth": {
                "type": "object",
                "properties": {
                    "app_version": {
                        "type": "string"
                    },
                    "php_version": {
                        "type": "string"
                    },
                    "queue_connection": {
                        "type": "string"
                    },
                    "database_connected": {
                        "type": "boolean"
                    },
                    "pending_webhook_deliveries": {
                        "type": "integer"
                    }
                }
            },
            "ApiErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                ]
            },
            "ApiKey": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "name",
                    "token_prefix"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "owner_user_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "token_prefix": {
                        "type": "string",
                        "description": "First six characters of the secret for display."
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ApiKeyPreview": {
                "type": "object",
                "required": [
                    "id",
                    "prefix",
                    "created_at",
                    "last_used_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "prefix": {
                        "type": "string",
                        "description": "Safe-to-log key prefix (first 6 characters)."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "ApiSuccessResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                ]
            },
            "AuthToken": {
                "type": "object",
                "required": [
                    "token",
                    "type",
                    "expires_at"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Personal access token value. Store securely."
                    },
                    "type": {
                        "type": "string",
                        "description": "Token type indicator (always `Bearer`).",
                        "enum": [
                            "Bearer"
                        ]
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "AwardLinesRequest": {
                "type": "object",
                "required": [
                    "lines"
                ],
                "properties": {
                    "lines": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "rfq_item_id",
                                "quote_id",
                                "quantity"
                            ],
                            "properties": {
                                "rfq_item_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quote_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quantity": {
                                    "type": "integer",
                                    "minimum": 1
                                }
                            }
                        }
                    }
                }
            },
            "CloseRfqRequest": {
                "type": "object",
                "properties": {
                    "reason": {
                        "type": "string",
                        "nullable": true,
                        "description": "Buyer-provided rationale for closing the RFQ."
                    },
                    "closed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Overrides the default (now) close timestamp if the backend permits backdating."
                    }
                }
            },
            "CompanyProfile": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Buyer account status (pending, active, suspended, archived)."
                    },
                    "supplier_status": {
                        "type": "string",
                        "nullable": true
                    },
                    "email_domain": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_email": {
                        "type": "string",
                        "format": "email",
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "nullable": true
                    },
                    "website": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "has_completed_onboarding": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreditNote": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "invoice_id",
                    "credit_number",
                    "status",
                    "total"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "invoice_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "credit_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "pending_review",
                            "issued",
                            "approved",
                            "rejected"
                        ]
                    },
                    "reason": {
                        "type": "string"
                    },
                    "total": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "balance_remaining": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "review_comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "issued_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "issued_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "invoice": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "invoice_number": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "CreditNoteCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreditNote"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "CursorMeta": {
                "type": "object",
                "description": "Pagination metadata for cursor endpoints.",
                "required": [
                    "next_cursor"
                ],
                "properties": {
                    "next_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "prev_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "has_next": {
                        "type": "boolean"
                    },
                    "has_prev": {
                        "type": "boolean"
                    }
                }
            },
            "DashboardMetrics": {
                "type": "object",
                "description": "Aggregated counts shown on the operations dashboard.",
                "required": [
                    "open_rfq_count",
                    "quotes_awaiting_review_count",
                    "pos_awaiting_acknowledgement_count",
                    "unpaid_invoice_count",
                    "low_stock_part_count"
                ],
                "properties": {
                    "open_rfq_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "quotes_awaiting_review_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "pos_awaiting_acknowledgement_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "unpaid_invoice_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "low_stock_part_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    }
                }
            },
            "EnvelopeMeta": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RequestMeta"
                    }
                ],
                "description": "Legacy alias for response metadata."
            },
            "ErrorEnvelope": {
                "type": "object",
                "required": [
                    "status",
                    "message"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "error"
                        ]
                    },
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string",
                        "nullable": true
                    },
                    "errors": {
                        "type": "object",
                        "description": "Field-level validation errors keyed by attribute.",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "data": {
                        "nullable": true,
                        "description": "Always null for error responses."
                    }
                },
                "additionalProperties": false
            },
            "ExportRequest": {
                "type": "object",
                "required": [
                    "id",
                    "type",
                    "status",
                    "filters",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string",
                        "description": "Export payload type identifier."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "queued",
                            "processing",
                            "completed",
                            "failed",
                            "expired"
                        ]
                    },
                    "filters": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "requested_by": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Timestamp when the export artifact is purged from storage. Clients must requeue after expiry."
                    },
                    "download_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "FeatureFlag": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "key",
                    "value"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "FxRate": {
                "type": "object",
                "required": [
                    "id",
                    "base_code",
                    "quote_code",
                    "rate",
                    "as_of"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "base_code": {
                        "type": "string"
                    },
                    "quote_code": {
                        "type": "string"
                    },
                    "rate": {
                        "type": "string"
                    },
                    "as_of": {
                        "type": "string",
                        "format": "date"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "GoodsReceiptLine": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_line_id",
                    "quantity_received"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "purchase_order_line_id": {
                        "type": "integer"
                    },
                    "quantity_received": {
                        "type": "number"
                    },
                    "quantity_accepted": {
                        "type": "number",
                        "nullable": true
                    },
                    "quantity_rejected": {
                        "type": "number",
                        "nullable": true
                    },
                    "rejection_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "mime": {
                                    "type": "string"
                                },
                                "size_bytes": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "GoodsReceiptNote": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "number",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "inspecting",
                            "accepted",
                            "rejected"
                        ]
                    },
                    "inspected_by_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "inspected_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "inspector": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoodsReceiptLine"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "purchase_order_id",
                    "invoice_number",
                    "status",
                    "currency",
                    "total"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "invoice_number": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "approved",
                            "rejected",
                            "paid"
                        ]
                    },
                    "subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_amount": {
                        "type": "number",
                        "format": "float"
                    },
                    "total": {
                        "type": "number",
                        "format": "float"
                    },
                    "match_summary": {
                        "type": "object",
                        "properties": {
                            "matched": {
                                "type": "integer"
                            },
                            "qty_mismatch": {
                                "type": "integer"
                            },
                            "price_mismatch": {
                                "type": "integer"
                            },
                            "unmatched": {
                                "type": "integer"
                            }
                        }
                    },
                    "document": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "filename": {
                                "type": "string"
                            },
                            "mime": {
                                "type": "string"
                            },
                            "size_bytes": {
                                "type": "integer"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "InvoiceCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Invoice"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "LocaleSetting": {
                "type": "object",
                "required": [
                    "locale",
                    "timezone",
                    "number_format",
                    "date_format",
                    "first_day_of_week",
                    "weekend_days"
                ],
                "properties": {
                    "locale": {
                        "type": "string"
                    },
                    "timezone": {
                        "type": "string"
                    },
                    "number_format": {
                        "type": "string"
                    },
                    "date_format": {
                        "type": "string"
                    },
                    "first_day_of_week": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 6
                    },
                    "weekend_days": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "Money": {
                "type": "object",
                "description": "Monetary amount expressed in minor units. `amount` is derived from `amount_minor` and `currency` using the company rounding rules.",
                "required": [
                    "amount_minor",
                    "currency",
                    "amount"
                ],
                "properties": {
                    "amount_minor": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "Derived major-unit representation. Submitters may omit; backend recalculates using company precision."
                    }
                }
            },
            "MoneySettings": {
                "type": "object",
                "required": [
                    "base_currency",
                    "pricing_currency",
                    "fx_source",
                    "price_round_rule",
                    "tax_regime",
                    "defaults"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "base_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "pricing_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "fx_source": {
                        "type": "string",
                        "enum": [
                            "manual",
                            "fixer",
                            "openexchangerates"
                        ]
                    },
                    "price_round_rule": {
                        "type": "string"
                    },
                    "tax_regime": {
                        "type": "string",
                        "enum": [
                            "exclusive",
                            "inclusive"
                        ]
                    },
                    "defaults": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "PageMeta": {
                "type": "object",
                "description": "Page/offset pagination metadata.",
                "required": [
                    "current_page",
                    "per_page",
                    "total",
                    "last_page"
                ],
                "properties": {
                    "total": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "per_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "current_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "last_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "page": {
                        "type": "integer",
                        "minimum": 1,
                        "readOnly": true,
                        "description": "Alias provided for SDK ergonomics. Mirrors `current_page`."
                    }
                }
            },
            "Plan": {
                "type": "object",
                "required": [
                    "id",
                    "code",
                    "name",
                    "price_usd"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "price_usd": {
                        "type": "number",
                        "format": "float"
                    },
                    "rfqs_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "users_max": {
                        "type": "integer",
                        "nullable": true
                    },
                    "analytics_enabled": {
                        "type": "boolean"
                    },
                    "inventory_enabled": {
                        "type": "boolean"
                    },
                    "multi_currency_enabled": {
                        "type": "boolean"
                    },
                    "tax_engine_enabled": {
                        "type": "boolean"
                    },
                    "localization_enabled": {
                        "type": "boolean"
                    },
                    "exports_enabled": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PoChangeOrder": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "status",
                    "reason"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "proposed",
                            "accepted",
                            "rejected"
                        ]
                    },
                    "reason": {
                        "type": "string"
                    },
                    "po_revision_no": {
                        "type": "integer",
                        "nullable": true
                    },
                    "proposed_by_user_id": {
                        "type": "integer"
                    },
                    "proposed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "changes_json": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "proposed_by_user": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "PublishRfqRequest": {
                "type": "object",
                "required": [
                    "due_at"
                ],
                "properties": {
                    "due_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "publish_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "notify_suppliers": {
                        "type": "boolean",
                        "default": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true,
                        "description": "Optional note sent with publish notifications."
                    }
                }
            },
            "PurchaseOrder": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "po_number",
                    "status",
                    "currency",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "po_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "sent",
                            "acknowledged",
                            "fulfilled",
                            "closed",
                            "cancelled"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "incoterm": {
                        "type": "string",
                        "nullable": true
                    },
                    "tax_percent": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "subtotal": {
                        "type": "string"
                    },
                    "subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_amount": {
                        "type": "string"
                    },
                    "tax_amount_minor": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "rfq_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "quote_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "rfq": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "number": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PurchaseOrderLine"
                        }
                    },
                    "change_orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PoChangeOrder"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "PurchaseOrderLine": {
                "type": "object",
                "required": [
                    "id",
                    "line_no",
                    "quantity",
                    "unit_price_minor",
                    "line_total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "line_no": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "number"
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "unit_price_minor": {
                        "type": "integer"
                    },
                    "line_subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "line_subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_total_minor": {
                        "type": "integer"
                    },
                    "line_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "line_total_minor": {
                        "type": "integer"
                    },
                    "delivery_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "taxes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "tax_code_id": {
                                    "type": "integer"
                                },
                                "rate_percent": {
                                    "type": "number"
                                },
                                "amount_minor": {
                                    "type": "integer"
                                },
                                "amount": {
                                    "type": "number",
                                    "format": "float"
                                },
                                "sequence": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "Quote": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "supplier_id",
                    "status",
                    "currency",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "awarded",
                            "withdrawn",
                            "expired"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "subtotal": {
                        "type": "string"
                    },
                    "subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_amount": {
                        "type": "string"
                    },
                    "tax_amount_minor": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "min_order_qty": {
                        "type": "integer",
                        "nullable": true
                    },
                    "lead_time_days": {
                        "type": "integer",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "submitted_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "withdrawn_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "withdraw_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QuoteItem"
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                },
                                "mime": {
                                    "type": "string"
                                },
                                "size_bytes": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "revisions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QuoteRevision"
                        }
                    }
                }
            },
            "QuoteItem": {
                "type": "object",
                "required": [
                    "id",
                    "quote_id",
                    "rfq_item_id",
                    "quantity",
                    "unit_price_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "quote_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_item_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "uom": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "string"
                    },
                    "unit_price_minor": {
                        "type": "integer"
                    },
                    "line_total": {
                        "type": "string"
                    },
                    "line_total_minor": {
                        "type": "integer"
                    }
                }
            },
            "QuoteRevision": {
                "type": "object",
                "required": [
                    "id",
                    "quote_id",
                    "revision_no",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "quote_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string"
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "QuoteSummary": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "supplier_id",
                    "status",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "supplier_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "RateLimitRule": {
                "type": "object",
                "required": [
                    "id",
                    "scope",
                    "window_seconds",
                    "max_requests"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "scope": {
                        "type": "string",
                        "description": "Logical grouping (e.g. `tenant`, `api_key`)."
                    },
                    "window_seconds": {
                        "type": "integer"
                    },
                    "max_requests": {
                        "type": "integer"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "RequestMeta": {
                "type": "object",
                "description": "Metadata applied to every successful response. Includes request correlation identifiers and pagination cursors.",
                "required": [
                    "request_id"
                ],
                "properties": {
                    "request_id": {
                        "type": "string",
                        "description": "UUID assigned to the request (matches `X-Request-Id`)."
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/PageMeta"
                    },
                    "cursor": {
                        "$ref": "#/components/schemas/CursorMeta"
                    }
                },
                "additionalProperties": false
            },
            "Rfq": {
                "type": "object",
                "required": [
                    "id",
                    "number",
                    "item_name",
                    "type",
                    "quantity",
                    "material",
                    "method",
                    "status",
                    "is_open_bidding"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "number": {
                        "type": "string"
                    },
                    "item_name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "ready_made",
                            "manufacture"
                        ]
                    },
                    "quantity": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "material": {
                        "type": "string"
                    },
                    "method": {
                        "type": "string"
                    },
                    "tolerance": {
                        "type": "string",
                        "nullable": true
                    },
                    "finish": {
                        "type": "string",
                        "nullable": true
                    },
                    "client_company": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "awaiting",
                            "open",
                            "closed",
                            "awarded",
                            "cancelled"
                        ]
                    },
                    "deadline_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "sent_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "is_open_bidding": {
                        "type": "boolean"
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "cad_path": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RfqItem"
                        }
                    },
                    "quotes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QuoteSummary"
                        }
                    }
                }
            },
            "RfqAttachment": {
                "type": "object",
                "description": "Document attached to an RFQ per the documents deep spec.",
                "required": [
                    "id",
                    "filename",
                    "url",
                    "uploaded_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "document_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Identifier of the underlying Document resource."
                    },
                    "filename": {
                        "type": "string"
                    },
                    "mime": {
                        "type": "string",
                        "nullable": true
                    },
                    "size_bytes": {
                        "type": "integer",
                        "nullable": true
                    },
                    "url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "uploaded_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "uploaded_by": {
                        "type": "object",
                        "nullable": true,
                        "description": "Condensed user summary for audit surfaces.",
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "RfqClarification": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "type",
                    "body",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "question",
                            "answer",
                            "amendment"
                        ]
                    },
                    "body": {
                        "type": "string"
                    },
                    "author": {
                        "type": "object",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "RfqCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Rfq"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "RfqInvitation": {
                "type": "object",
                "required": [
                    "id",
                    "supplier_id",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "supplier_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string"
                    },
                    "invited_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "responded_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "RfqItem": {
                "type": "object",
                "required": [
                    "id",
                    "line_no",
                    "part_name",
                    "quantity"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "line_no": {
                        "type": "integer"
                    },
                    "part_name": {
                        "type": "string"
                    },
                    "spec": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "target_price": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    }
                }
            },
            "RfqLinePayload": {
                "type": "object",
                "required": [
                    "part_name",
                    "quantity"
                ],
                "properties": {
                    "part_name": {
                        "type": "string"
                    },
                    "spec": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "target_price": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "cad_document_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "Reference to an uploaded CAD document."
                    }
                }
            },
            "RfqTimelineEntry": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Timeline"
                    },
                    {
                        "type": "object",
                        "required": [
                            "event"
                        ],
                        "properties": {
                            "event": {
                                "type": "string",
                                "description": "Machine-readable event identifier (e.g., created, published, invitation_sent)."
                            },
                            "actor": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            },
                            "context": {
                                "type": "object",
                                "additionalProperties": true,
                                "nullable": true,
                                "description": "Arbitrary metadata for UI rendering."
                            }
                        }
                    }
                ]
            },
            "Rma": {
                "type": "object",
                "required": [
                    "id",
                    "status",
                    "purchase_order_id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "reviewing",
                            "approved",
                            "rejected",
                            "closed"
                        ]
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "resolution": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "SavedSearch": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "query"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "query": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "shared": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "SearchResult": {
                "type": "object",
                "required": [
                    "id",
                    "type",
                    "title",
                    "url"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "description": "Result type identifier (rfq, quote, supplier, purchase_order, etc.)."
                    },
                    "title": {
                        "type": "string"
                    },
                    "subtitle": {
                        "type": "string",
                        "nullable": true
                    },
                    "snippet": {
                        "type": "string",
                        "nullable": true
                    },
                    "url": {
                        "type": "string",
                        "format": "uri"
                    }
                }
            },
            "SuccessEnvelope": {
                "type": "object",
                "required": [
                    "status",
                    "data"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "success"
                        ]
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "data": {
                        "description": "Module-specific payload."
                    },
                    "meta": {
                        "$ref": "#/components/schemas/RequestMeta"
                    }
                },
                "additionalProperties": false,
                "description": "Wrapper for all successful responses. `meta.request_id` always echoes the inbound `X-Request-Id` or an internally generated UUID."
            },
            "Supplier": {
                "type": "object",
                "required": [
                    "id",
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Supplier onboarding status."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "SupplierApplication": {
                "type": "object",
                "required": [
                    "id",
                    "supplier_name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "supplier_name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "TaxCode": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "code",
                    "name",
                    "type"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "vat",
                            "gst",
                            "sales",
                            "withholding",
                            "custom"
                        ]
                    },
                    "rate_percent": {
                        "type": "number",
                        "nullable": true
                    },
                    "is_compound": {
                        "type": "boolean"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Timeline": {
                "type": "object",
                "properties": {
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp in the tenant's configured timezone."
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp in the tenant's configured timezone."
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "ISO 8601 timestamp in the tenant's configured timezone."
                    }
                }
            },
            "Uom": {
                "type": "object",
                "required": [
                    "code",
                    "name",
                    "dimension",
                    "symbol",
                    "si_base"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "dimension": {
                        "type": "string"
                    },
                    "symbol": {
                        "type": "string",
                        "nullable": true
                    },
                    "si_base": {
                        "type": "boolean"
                    }
                }
            },
            "UomConversion": {
                "type": "object",
                "required": [
                    "from_code",
                    "to_code",
                    "factor"
                ],
                "properties": {
                    "from_code": {
                        "type": "string"
                    },
                    "to_code": {
                        "type": "string"
                    },
                    "factor": {
                        "type": "number",
                        "format": "float"
                    },
                    "offset": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    }
                }
            },
            "WebhookDelivery": {
                "type": "object",
                "required": [
                    "id",
                    "subscription_id",
                    "event",
                    "status",
                    "attempts"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "subscription_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "event": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "dispatched",
                            "delivered",
                            "failed",
                            "dead_letter"
                        ]
                    },
                    "attempts": {
                        "type": "integer"
                    },
                    "last_error": {
                        "type": "string",
                        "nullable": true
                    },
                    "dispatched_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "delivered_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "WebhookSubscription": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "url",
                    "events",
                    "active"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "secret_hint": {
                        "type": "string",
                        "nullable": true
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "retry_policy": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            }
        },
        "responses": {
            "Forbidden": {
                "description": "Authenticated but lacking required permissions.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ApiErrorResponse"
                        },
                        "example": {
                            "status": "error",
                            "message": "Forbidden.",
                            "data": null
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ApiErrorResponse"
                        },
                        "example": {
                            "status": "error",
                            "message": "Not found",
                            "data": null
                        }
                    }
                }
            },
            "ServerError": {
                "description": "Unexpected server error. Contact support with the supplied request identifier.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ApiErrorResponse"
                        },
                        "example": {
                            "status": "error",
                            "message": "Unexpected error occurred.",
                            "data": null
                        }
                    }
                }
            },
            "TooManyRequests": {
                "description": "Rate limit exceeded for the current identity.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    },
                    "X-RateLimit-Limit": {
                        "$ref": "#/components/headers/XRateLimitLimit"
                    },
                    "X-RateLimit-Remaining": {
                        "$ref": "#/components/headers/XRateLimitRemaining"
                    },
                    "X-RateLimit-Reset": {
                        "$ref": "#/components/headers/XRateLimitReset"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ApiErrorResponse"
                        },
                        "example": {
                            "status": "error",
                            "message": "Request limit exceeded, retry later.",
                            "code": "RATE_LIMIT_EXCEEDED",
                            "data": null
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Missing or invalid credentials.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ApiErrorResponse"
                        },
                        "example": {
                            "status": "error",
[...]
