{
    "openapi": "3.1.0",
    "info": {
        "title": "Elements Supply API",
        "version": "2025.11.0",
        "summary": "Canonical contract for the Elements Supply public API.",
        "description": "Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single\npublic API for authenticated buyers, suppliers, and platform administrators. All responses\nare wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to\nthe schemas defined in this spec. Unless noted otherwise, every path requires either a\nbearer token (Sanctum personal access token) or an API key issued by the platform admin\nconsole.\n",
        "contact": {
            "name": "Elements Supply Team",
            "url": "https://elements-supply.ai",
            "email": "support@elements-supply.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.elements-supply.ai",
            "description": "Production API endpoint"
        },
        {
            "url": "https://{tenant}.elements-supply.ai",
            "description": "Tenant-scoped production endpoint",
            "variables": {
                "tenant": {
                    "description": "Subdomain slug for the tenant (e.g. `acme`)",
                    "default": "app"
                }
            }
        },
        {
            "url": "http://localhost/api",
            "description": "Local development"
        }
    ],
    "externalDocs": {
        "description": "Full product requirements",
        "url": "https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md"
    },
    "tags": [
        {
            "name": "Health",
            "description": "Readiness and diagnostic endpoints"
        },
        {
            "name": "Auth",
            "description": "Authentication session management and API key usage"
        },
        {
            "name": "RFQs",
            "description": "Manage requests for quotation and related supplier interactions"
        },
        {
            "name": "Quotes",
            "description": "Quote submission, revision, and award workflows"
        },
        {
            "name": "Purchase Orders",
            "description": "Purchase order lifecycle, change orders, and totals"
        },
        {
            "name": "Orders",
            "description": "Supplier-facing order visibility endpoints"
        },
        {
            "name": "Invoices",
            "description": "Invoicing, credit notes, and financial reconciliation"
        },
        {
            "name": "Inventory",
            "description": "Goods receipt, issues, and warehouse movements"
        },
        {
            "name": "Exports",
            "description": "Bulk data export creation and download"
        },
        {
            "name": "CRM",
            "description": "Customer relationship data exports and insights"
        },
        {
            "name": "Suppliers",
            "description": "Supplier directory, segments, and applications"
        },
        {
            "name": "Notifications",
            "description": "In-app notification feeds and read state management"
        },
        {
            "name": "Risk",
            "description": "Supplier risk scoring and refresh workflows"
        },
        {
            "name": "Digital Twin",
            "description": "Asset telemetry, synchronization, and work orders"
        },
        {
            "name": "Analytics",
            "description": "Self-serve analytics reports and scheduled runs"
        },
        {
            "name": "Copilot",
            "description": "AI-assisted workflows and prompt catalogues"
        },
        {
            "name": "Documents",
            "description": "File uploads and document staging APIs"
        },
        {
            "name": "Settings",
            "description": "Tenant-level configuration (company profile, localization, numbering)"
        },
        {
            "name": "Localization",
            "description": "Localization settings, units of measure, and conversions"
        },
        {
            "name": "Money",
            "description": "Monetary settings, FX rates, and tax configuration"
        },
        {
            "name": "Approvals",
            "description": "Purchase order approval rules, requests, and delegations"
        },
        {
            "name": "Admin",
            "description": "Platform administration (plans, health, read-only reference data)"
        },
        {
            "name": "Webhooks",
            "description": "Outbound webhook subscription formats and delivery expectations"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API keys are issued and rotated in the platform admin console. Include the value in the\n`X-API-Key` header to authenticate machine-to-machine integrations.\n"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific\ncompany tenant and inherit the permissions assigned to the issuing user.\n"
            }
        },
        "parameters": {
            "AcceptLanguage": {
                "name": "Accept-Language",
                "in": "header",
                "required": false,
                "description": "Overrides language resolution when localization features are enabled.",
                "schema": {
                    "type": "string"
                }
            },
            "CursorQuery": {
                "name": "cursor",
                "in": "query",
                "required": false,
                "description": "Cursor token for pagination.",
                "schema": {
                    "type": "string"
                }
            },
            "PageQuery": {
                "name": "page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1
                }
            },
            "PerPageQuery": {
                "name": "per_page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                }
            },
            "XRequestId": {
                "name": "X-Request-Id",
                "in": "header",
                "required": false,
                "description": "Correlates requests across services. Echoed back on every response when supplied.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "headers": {
            "XRateLimitLimit": {
                "description": "Maximum number of requests allowed in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitRemaining": {
                "description": "Remaining requests available in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitReset": {
                "description": "Seconds until the current rate limit window resets.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRequestId": {
                "description": "Unique identifier for the current request.",
                "schema": {
                    "type": "string"
                }
            },
            "XTraceId": {
                "description": "Internal trace identifier for support escalations.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "AdminHealth": {
                "type": "object",
                "properties": {
                    "app_version": {
                        "type": "string"
                    },
                    "php_version": {
                        "type": "string"
                    },
                    "queue_connection": {
                        "type": "string"
                    },
                    "database_connected": {
                        "type": "boolean"
                    },
                    "pending_webhook_deliveries": {
                        "type": "integer"
                    }
                }
            },
            "ApiErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                ]
            },
            "ApiKey": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "name",
                    "token_prefix"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "owner_user_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "token_prefix": {
                        "type": "string",
                        "description": "First six characters of the secret for display."
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ApiKeyPreview": {
                "type": "object",
                "required": [
                    "id",
                    "prefix",
                    "created_at",
                    "last_used_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "prefix": {
                        "type": "string",
                        "description": "Safe-to-log key prefix (first 6 characters)."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "ApiSuccessResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                ]
            },
            "AuthForgotPasswordRequest": {
                "type": "object",
                "required": [
                    "email"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    }
                },
                "additionalProperties": false
            },
            "AuthLoginRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    },
                    "remember": {
                        "type": "boolean",
                        "description": "When true the session cookie is kept beyond the current browser session."
                    }
                },
                "additionalProperties": false
            },
            "AuthResetPasswordRequest": {
                "type": "object",
                "required": [
                    "token",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Token issued via the password reset email."
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "minLength": 8
                    },
                    "password_confirmation": {
                        "type": "string",
                        "format": "password",
                        "description": "Must match `password`."
                    }
                },
                "additionalProperties": false
            },
            "AuthSession": {
                "type": "object",
                "required": [
                    "token",
                    "user",
                    "feature_flags"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Session identifier echoed in the `XSRF-TOKEN` cookie for SPA clients."
                    },
                    "user": {
                        "$ref": "#/components/schemas/AuthSessionUser"
                    },
                    "company": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AuthSessionCompany"
                            }
                        ],
                        "nullable": true
                    },
                    "feature_flags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "boolean"
                        },
                        "description": "Flattened feature flag map for the authenticated company."
                    },
                    "plan": {
                        "type": "string",
                        "nullable": true,
                        "description": "Active plan code assigned to the company, if any."
                    }
                },
                "additionalProperties": false
            },
            "AuthSessionCompany": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Current buyer onboarding status."
                    },
                    "plan": {
                        "type": "string",
                        "nullable": true,
                        "description": "Plan code applied to the company."
                    }
                },
                "additionalProperties": false
            },
            "AuthSessionUser": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "email",
                    "role"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "role": {
                        "type": "string",
                        "description": "Role assigned to the user (buyer_admin, supplier_user, etc.)."
                    },
                    "company_id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AuthToken": {
                "type": "object",
                "required": [
                    "token",
                    "type",
                    "expires_at"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Personal access token value. Store securely."
                    },
                    "type": {
                        "type": "string",
                        "description": "Token type indicator (always `Bearer`).",
                        "enum": [
                            "Bearer"
                        ]
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "AwardLinesRequest": {
                "type": "object",
                "required": [
                    "lines"
                ],
                "properties": {
                    "lines": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "rfq_item_id",
                                "quote_id",
                                "quantity"
                            ],
                            "properties": {
                                "rfq_item_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quote_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quantity": {
                                    "type": "integer",
                                    "minimum": 1
                                }
                            }
                        }
                    }
                }
            },
            "CloseRfqRequest": {
                "type": "object",
                "properties": {
                    "reason": {
                        "type": "string",
                        "nullable": true,
                        "description": "Buyer-provided rationale for closing the RFQ."
                    },
                    "closed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Overrides the default (now) close timestamp if the backend permits backdating."
                    }
                }
            },
            "CompanyAddress": {
                "type": "object",
                "required": [
                    "line1",
                    "country"
                ],
                "properties": {
                    "attention": {
                        "type": "string",
                        "nullable": true
                    },
                    "line1": {
                        "type": "string"
                    },
                    "line2": {
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "nullable": true
                    },
                    "postal_code": {
                        "type": "string",
                        "nullable": true
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "CompanyGoodsReceiptLineInput": {
                "type": "object",
                "required": [
                    "po_line_id",
                    "qty_received"
                ],
                "properties": {
                    "po_line_id": {
                        "type": "integer"
                    },
                    "qty_received": {
                        "type": "number"
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "CompanyProfile": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Buyer account status (pending, active, suspended, archived)."
                    },
                    "supplier_status": {
                        "type": "string",
                        "nullable": true
                    },
                    "email_domain": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_email": {
                        "type": "string",
                        "format": "email",
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "nullable": true
                    },
                    "website": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "has_completed_onboarding": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CompanySettings": {
                "type": "object",
                "required": [
                    "legal_name",
                    "display_name",
                    "bill_to",
                    "ship_from"
                ],
                "properties": {
                    "legal_name": {
                        "type": "string"
                    },
                    "display_name": {
                        "type": "string"
                    },
                    "tax_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "registration_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "emails": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    "phones": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "bill_to": {
                        "$ref": "#/components/schemas/CompanyAddress"
                    },
                    "ship_from": {
                        "$ref": "#/components/schemas/CompanyAddress"
                    },
                    "logo_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "mark_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    }
                }
            },
            "CreateAwardsRequest": {
                "type": "object",
                "required": [
                    "rfq_id",
                    "items"
                ],
                "properties": {
                    "rfq_id": {
                        "type": "integer",
                        "description": "Numeric RFQ identifier."
                    },
                    "items": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "required": [
                                "rfq_item_id",
                                "quote_item_id"
                            ],
                            "properties": {
                                "rfq_item_id": {
                                    "type": "integer"
                                },
                                "quote_item_id": {
                                    "type": "integer"
                                },
                                "awarded_qty": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "nullable": true,
                                    "description": "Optional awarded quantity for partial allocations."
                                }
                            }
                        }
                    }
                }
            },
            "CreatePurchaseOrdersFromAwardsRequest": {
                "type": "object",
                "required": [
                    "award_ids"
                ],
                "properties": {
                    "award_ids": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "CreditNote": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "invoice_id",
                    "credit_number",
                    "status",
                    "amount",
                    "amount_minor",
                    "currency"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "invoice_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "grn_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "credit_number": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "string"
                    },
                    "amount_minor": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "pending_review",
                            "issued",
                            "approved",
                            "rejected"
                        ]
                    },
                    "review_comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "issued_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentAttachment"
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreditNoteLine"
                        }
                    },
                    "invoice": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "invoice_number": {
                                "type": "string"
                            }
                        }
                    },
                    "purchase_order": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "po_number": {
                                "type": "string"
                            }
                        }
                    },
                    "goods_receipt_note": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "number": {
                                "type": "string"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreditNoteCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreditNote"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "CreditNoteLine": {
                "type": "object",
                "required": [
                    "id",
                    "invoice_line_id",
                    "qty_invoiced",
                    "qty_to_credit",
                    "unit_price_minor",
                    "currency"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "invoice_line_id": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "qty_invoiced": {
                        "type": "number"
                    },
                    "qty_to_credit": {
                        "type": "number"
                    },
                    "qty_already_credited": {
                        "type": "number",
                        "nullable": true
                    },
                    "unit_price_minor": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "total_minor": {
                        "type": "integer"
                    }
                }
            },
            "CurrencyPreferences": {
                "type": "object",
                "required": [
                    "primary",
                    "display_fx"
                ],
                "properties": {
                    "primary": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3
                    },
                    "display_fx": {
                        "type": "boolean"
                    }
                }
            },
            "CursorMeta": {
                "type": "object",
                "description": "Pagination metadata for cursor endpoints.",
                "required": [
                    "next_cursor"
                ],
                "properties": {
                    "next_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "prev_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "has_next": {
                        "type": "boolean"
                    },
                    "has_prev": {
                        "type": "boolean"
                    }
                }
            },
            "DashboardMetrics": {
                "type": "object",
                "description": "Aggregated counts shown on the operations dashboard.",
                "required": [
                    "open_rfq_count",
                    "quotes_awaiting_review_count",
                    "pos_awaiting_acknowledgement_count",
                    "unpaid_invoice_count",
                    "low_stock_part_count"
                ],
                "properties": {
                    "open_rfq_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "quotes_awaiting_review_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "pos_awaiting_acknowledgement_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "unpaid_invoice_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "low_stock_part_count": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    }
                }
            },
            "Document": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "documentable_type",
                    "documentable_id",
                    "kind",
                    "category",
                    "filename",
                    "mime",
                    "size_bytes",
                    "hash",
                    "is_expired",
                    "is_public",
                    "download_url"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "documentable_type": {
                        "type": "string"
                    },
                    "documentable_id": {
                        "type": "integer"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "visibility": {
                        "type": "string",
                        "nullable": true
                    },
                    "version": {
                        "type": "integer",
                        "nullable": true
                    },
                    "filename": {
                        "type": "string"
                    },
                    "mime": {
                        "type": "string"
                    },
                    "size_bytes": {
                        "type": "integer"
                    },
                    "hash": {
                        "type": "string"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "watermark": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "is_expired": {
                        "type": "boolean"
                    },
                    "is_public": {
                        "type": "boolean"
                    },
                    "download_url": {
                        "type": "string",
                        "format": "uri"
                    }
                }
            },
            "DocumentAttachment": {
                "type": "object",
                "required": [
                    "id",
                    "filename",
                    "mime",
                    "size_bytes"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "filename": {
                        "type": "string"
                    },
                    "mime": {
                        "type": "string"
                    },
                    "size_bytes": {
                        "type": "integer"
                    },
                    "version": {
                        "type": "integer",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                    }
                }
            },
            "DocumentUploadRequest": {
                "type": "object",
                "required": [
                    "entity",
                    "entity_id",
                    "kind",
                    "category",
                    "file"
                ],
                "properties": {
                    "entity": {
                        "type": "string",
                        "description": "Target entity slug to associate with the uploaded document.",
                        "enum": [
                            "rfq",
                            "quote",
                            "po",
                            "invoice",
                            "supplier",
                            "part"
                        ]
                    },
                    "entity_id": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "kind": {
                        "type": "string",
                        "enum": [
                            "rfq",
                            "quote",
                            "po",
                            "grn_attachment",
                            "invoice",
                            "supplier",
                            "part",
                            "cad",
                            "manual",
                            "certificate",
                            "esg_pack",
                            "other"
                        ]
                    },
                    "category": {
                        "type": "string",
                        "enum": [
                            "technical",
                            "commercial",
                            "qa",
                            "logistics",
                            "financial",
                            "communication",
                            "esg",
                            "other"
                        ]
                    },
                    "visibility": {
                        "type": "string",
                        "nullable": true,
                        "description": "Visibility must match the configured `documents.allowed_visibilities` list (private, company, public)."
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                    },
                    "watermark": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                    },
                    "file": {
                        "type": "string",
                        "format": "binary"
                    }
                },
                "additionalProperties": false
            },
            "EnvelopeMeta": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RequestMeta"
                    }
                ],
                "description": "Legacy alias for response metadata."
            },
            "ErrorEnvelope": {
                "type": "object",
                "required": [
                    "status",
                    "message"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "error"
                        ]
                    },
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string",
                        "nullable": true
                    },
                    "errors": {
                        "type": "object",
                        "description": "Field-level validation errors keyed by attribute.",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "data": {
                        "nullable": true,
                        "description": "Always null for error responses."
                    }
                },
                "additionalProperties": false
            },
            "ExportPurchaseOrderResponse": {
                "type": "object",
                "required": [
                    "document",
                    "download_url"
                ],
                "properties": {
                    "document": {
                        "$ref": "#/components/schemas/PurchaseOrderPdfDocument"
                    },
                    "download_url": {
                        "type": "string",
                        "format": "uri"
                    }
                }
            },
            "ExportRequest": {
                "type": "object",
                "required": [
                    "id",
                    "type",
                    "status",
                    "filters",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string",
                        "description": "Export payload type identifier."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "queued",
                            "processing",
                            "completed",
                            "failed",
                            "expired"
                        ]
                    },
                    "filters": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "requested_by": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Timestamp when the export artifact is purged from storage. Clients must requeue after expiry."
                    },
                    "download_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "FeatureFlag": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "key",
                    "value"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "FxRate": {
                "type": "object",
                "required": [
                    "id",
                    "base_code",
                    "quote_code",
                    "rate",
                    "as_of"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "base_code": {
                        "type": "string"
                    },
                    "quote_code": {
                        "type": "string"
                    },
                    "rate": {
                        "type": "string"
                    },
                    "as_of": {
                        "type": "string",
                        "format": "date"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "GoodsReceiptLine": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_line_id",
                    "received_qty"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "goods_receipt_note_id": {
                        "type": "integer"
                    },
                    "purchase_order_line_id": {
                        "type": "integer"
                    },
                    "po_line_id": {
                        "type": "integer"
                    },
                    "line_no": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "ordered_qty": {
                        "type": "number",
                        "nullable": true
                    },
                    "received_qty": {
                        "type": "number"
                    },
                    "accepted_qty": {
                        "type": "number",
                        "nullable": true
                    },
                    "rejected_qty": {
                        "type": "number",
                        "nullable": true
                    },
                    "previously_received": {
                        "type": "number",
                        "nullable": true
                    },
                    "remaining_qty": {
                        "type": "number",
                        "nullable": true
                    },
                    "defect_notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "unit_price_minor": {
                        "type": "integer",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string",
                        "nullable": true
                    },
                    "variance": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentAttachment"
                        }
                    }
                }
            },
            "GoodsReceiptNote": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "grn_number",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "purchase_order_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "po_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "grn_number": {
                        "type": "string"
                    },
                    "number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "inspecting",
                            "posted",
                            "variance",
                            "rejected"
                        ]
                    },
                    "inspected_by_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "inspected_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "received_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "posted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "reference": {
                        "type": "string",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "supplier_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "supplier_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "inspector": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "created_by": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "lines_count": {
                        "type": "integer",
                        "nullable": true
                    },
                    "attachments_count": {
                        "type": "integer",
                        "nullable": true
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoodsReceiptLine"
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentAttachment"
                        }
                    },
                    "timeline": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "purchase_order_id",
                    "invoice_number",
                    "status",
                    "currency",
                    "subtotal",
                    "tax_amount",
                    "total"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "invoice_number": {
                        "type": "string"
                    },
                    "invoice_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "draft",
                            "submitted",
                            "approved",
                            "rejected",
                            "paid",
                            "overdue",
                            "disputed",
                            "posted"
                        ]
                    },
                    "subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_amount": {
                        "type": "number",
                        "format": "float"
                    },
                    "total": {
                        "type": "number",
                        "format": "float"
                    },
                    "match_summary": {
                        "type": "object",
                        "properties": {
                            "matched": {
                                "type": "integer"
                            },
                            "qty_mismatch": {
                                "type": "integer"
                            },
                            "price_mismatch": {
                                "type": "integer"
                            },
                            "unmatched": {
                                "type": "integer"
                            }
                        }
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "purchase_order": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "po_number": {
                                "type": "string"
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceLine"
                        }
                    },
                    "matches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceMatch"
                        }
                    },
                    "document": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "filename": {
                                "type": "string"
                            },
                            "mime": {
                                "type": "string"
                            },
                            "size_bytes": {
                                "type": "integer"
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            }
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentAttachment"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "InvoiceCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Invoice"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "InvoiceLine": {
                "type": "object",
                "required": [
                    "id",
                    "description",
                    "quantity",
                    "unit_price"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "invoice_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "po_line_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "quantity": {
                        "type": "number"
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "unit_price_minor": {
                        "type": "integer",
                        "nullable": true
                    },
                    "line_subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "line_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "taxes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "tax_code_id": {
                                    "type": "integer"
                                },
                                "rate_percent": {
                                    "type": "number"
                                },
                                "amount_minor": {
                                    "type": "integer"
                                },
                                "amount": {
                                    "type": "number",
                                    "format": "float"
                                },
                                "sequence": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "InvoiceLineInput": {
                "type": "object",
                "required": [
                    "po_line_id",
                    "quantity"
                ],
                "properties": {
                    "po_line_id": {
                        "type": "integer"
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "tax_code_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "InvoiceMatch": {
                "type": "object",
                "required": [
                    "id",
                    "result"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "invoice_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "goods_receipt_note_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "result": {
                        "type": "string",
                        "enum": [
                            "matched",
                            "qty_mismatch",
                            "price_mismatch",
                            "unmatched"
                        ]
                    },
                    "details": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "LocalizationSettings": {
                "type": "object",
                "required": [
                    "timezone",
                    "locale",
                    "date_format",
                    "number_format",
                    "currency",
                    "uom"
                ],
                "properties": {
                    "timezone": {
                        "type": "string",
                        "description": "IANA timezone identifier applied to tenant data."
                    },
                    "locale": {
                        "type": "string",
                        "description": "BCP\u201147 locale for formatting dates and numerics."
                    },
                    "date_format": {
                        "type": "string",
                        "description": "Display pattern (e.g. YYYY-MM-DD, MM/DD/YYYY)."
                    },
                    "number_format": {
                        "type": "string",
                        "description": "Thousand separator style (e.g. 1,234.56)."
                    },
                    "currency": {
                        "$ref": "#/components/schemas/CurrencyPreferences"
                    },
                    "uom": {
                        "$ref": "#/components/schemas/UomMappings"
                    }
                }
            },
            "Money": {
                "type": "object",
                "description": "Monetary amount expressed in minor units. `amount` is derived from `amount_minor` and `currency` using the company rounding rules.",
                "required": [
                    "amount_minor",
                    "currency",
                    "amount"
                ],
                "properties": {
                    "amount_minor": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "Derived major-unit representation. Submitters may omit; backend recalculates using company precision."
                    }
                }
            },
            "MoneySettings": {
                "type": "object",
                "required": [
                    "base_currency",
                    "pricing_currency",
                    "fx_source",
                    "price_round_rule",
                    "tax_regime",
                    "defaults"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "base_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "pricing_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "fx_source": {
                        "type": "string",
                        "enum": [
                            "manual",
                            "fixer",
                            "openexchangerates"
                        ]
                    },
                    "price_round_rule": {
                        "type": "string"
                    },
                    "tax_regime": {
                        "type": "string",
                        "enum": [
                            "exclusive",
                            "inclusive"
                        ]
                    },
                    "defaults": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "NumberingRule": {
                "type": "object",
                "required": [
                    "prefix",
                    "seq_len",
                    "next",
                    "reset"
                ],
                "properties": {
                    "prefix": {
                        "type": "string",
                        "maxLength": 12
                    },
                    "seq_len": {
                        "type": "integer",
                        "minimum": 3,
                        "maximum": 10
                    },
                    "next": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "reset": {
                        "type": "string",
                        "enum": [
                            "never",
                            "yearly"
                        ]
                    },
                    "sample": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "NumberingSettings": {
                "type": "object",
                "required": [
                    "rfq",
                    "quote",
                    "po",
                    "invoice",
                    "grn",
                    "credit"
                ],
                "properties": {
                    "rfq": {
                        "$ref": "#/components/schemas/NumberingRule"
                    },
                    "quote": {
                        "$ref": "#/components/schemas/NumberingRule"
                    },
                    "po": {
                        "$ref": "#/components/schemas/NumberingRule"
                    },
                    "invoice": {
                        "$ref": "#/components/schemas/NumberingRule"
                    },
                    "grn": {
                        "$ref": "#/components/schemas/NumberingRule"
                    },
                    "credit": {
                        "$ref": "#/components/schemas/NumberingRule"
                    }
                }
            },
            "PageMeta": {
                "type": "object",
                "description": "Page/offset pagination metadata.",
                "required": [
                    "current_page",
                    "per_page",
                    "total",
                    "last_page"
                ],
                "properties": {
                    "total": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "per_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "current_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "last_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "page": {
                        "type": "integer",
                        "minimum": 1,
                        "readOnly": true,
                        "description": "Alias provided for SDK ergonomics. Mirrors `current_page`."
                    }
                }
            },
            "Plan": {
                "type": "object",
                "required": [
                    "id",
                    "code",
                    "name",
                    "price_usd"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "price_usd": {
                        "type": "number",
                        "format": "float"
                    },
                    "rfqs_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "users_max": {
                        "type": "integer",
                        "nullable": true
                    },
                    "analytics_enabled": {
                        "type": "boolean"
                    },
                    "inventory_enabled": {
                        "type": "boolean"
                    },
                    "multi_currency_enabled": {
                        "type": "boolean"
                    },
                    "tax_engine_enabled": {
                        "type": "boolean"
                    },
                    "localization_enabled": {
                        "type": "boolean"
                    },
                    "exports_enabled": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PlanCatalogEntry": {
                "type": "object",
                "required": [
                    "code",
                    "name",
                    "analytics_enabled",
                    "exports_enabled",
                    "localization_enabled",
                    "multi_currency_enabled",
                    "tax_engine_enabled",
                    "is_free"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "price_usd": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "rfqs_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "invoices_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "users_max": {
                        "type": "integer",
                        "nullable": true
                    },
                    "storage_gb": {
                        "type": "integer",
                        "nullable": true
                    },
                    "erp_integrations_max": {
                        "type": "integer",
                        "nullable": true
                    },
                    "analytics_enabled": {
                        "type": "boolean"
                    },
                    "analytics_history_months": {
                        "type": "integer",
                        "nullable": true
                    },
                    "risk_scores_enabled": {
                        "type": "boolean"
                    },
                    "risk_history_months": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approvals_enabled": {
                        "type": "boolean"
                    },
                    "approval_levels_limit": {
                        "type": "integer",
                        "nullable": true
                    },
                    "rma_enabled": {
                        "type": "boolean"
                    },
                    "rma_monthly_limit": {
                        "type": "integer",
                        "nullable": true
                    },
                    "credit_notes_enabled": {
                        "type": "boolean"
                    },
                    "global_search_enabled": {
                        "type": "boolean"
                    },
                    "quote_revisions_enabled": {
                        "type": "boolean"
                    },
                    "digital_twin_enabled": {
                        "type": "boolean"
                    },
                    "maintenance_enabled": {
                        "type": "boolean"
                    },
                    "inventory_enabled": {
                        "type": "boolean"
                    },
                    "inventory_history_months": {
                        "type": "integer",
                        "nullable": true
                    },
                    "pr_enabled": {
                        "type": "boolean"
                    },
                    "multi_currency_enabled": {
                        "type": "boolean"
                    },
                    "tax_engine_enabled": {
                        "type": "boolean"
                    },
                    "localization_enabled": {
                        "type": "boolean"
                    },
                    "exports_enabled": {
                        "type": "boolean"
                    },
                    "export_row_limit": {
                        "type": "integer",
                        "nullable": true
                    },
                    "data_export_enabled": {
                        "type": "boolean"
                    },
                    "export_history_days": {
                        "type": "integer",
                        "nullable": true
                    },
                    "is_free": {
                        "type": "boolean"
                    }
                }
            },
            "PlanSelectionResult": {
                "type": "object",
                "required": [
                    "company",
                    "plan"
                ],
                "properties": {
                    "company": {
                        "type": "object",
                        "required": [
                            "id",
                            "plan",
                            "billing_status",
                            "requires_plan_selection"
                        ],
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "plan": {
                                "type": "string",
                                "nullable": true
                            },
                            "billing_status": {
                                "type": "string"
                            },
                            "requires_plan_selection": {
                                "type": "boolean"
                            }
                        }
                    },
                    "plan": {
                        "$ref": "#/components/schemas/PlanCatalogEntry"
                    }
                }
            },
            "PoChangeOrder": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "status",
                    "reason"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "proposed",
                            "accepted",
                            "rejected"
                        ]
                    },
                    "reason": {
                        "type": "string"
                    },
                    "po_revision_no": {
                        "type": "integer",
                        "nullable": true
                    },
                    "proposed_by_user_id": {
                        "type": "integer"
                    },
                    "proposed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "changes_json": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "proposed_by_user": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "PublishRfqRequest": {
                "type": "object",
                "required": [
                    "due_at"
                ],
                "properties": {
                    "due_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "publish_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "notify_suppliers": {
                        "type": "boolean",
                        "default": true
                    },
                    "message": {
                        "type": "string",
                        "nullable": true,
                        "description": "Optional note sent with publish notifications."
                    }
                }
            },
            "PurchaseOrder": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "po_number",
                    "status",
                    "currency",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "po_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "sent",
                            "acknowledged",
                            "fulfilled",
                            "closed",
                            "cancelled"
                        ]
                    },
                    "ack_status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "sent",
                            "acknowledged",
                            "declined"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "incoterm": {
                        "type": "string",
                        "nullable": true
                    },
                    "tax_percent": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "subtotal": {
                        "type": "string"
                    },
                    "subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_amount": {
                        "type": "string"
                    },
                    "tax_amount_minor": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "sent_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "acknowledged_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "ack_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "rfq_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "quote_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "rfq": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "number": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PurchaseOrderLine"
                        }
                    },
                    "change_orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PoChangeOrder"
                        }
                    },
                    "deliveries": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PurchaseOrderDelivery"
                        }
                    },
                    "latest_delivery": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "purchase_order_id": {
                                "type": "integer"
                            },
                            "channel": {
                                "type": "string",
                                "enum": [
                                    "email",
                                    "webhook"
                                ]
                            },
                            "status": {
                                "type": "string",
                                "enum": [
                                    "queued",
                                    "sent",
                                    "failed"
                                ]
                            },
                            "recipients_to": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "format": "email"
                                },
                                "nullable": true
                            },
                            "recipients_cc": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "format": "email"
                                },
                                "nullable": true
                            },
                            "message": {
                                "type": "string",
                                "nullable": true
                            },
                            "delivery_reference": {
                                "type": "string",
                                "nullable": true
                            },
                            "response_meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "nullable": true
                            },
                            "error_reason": {
                                "type": "string",
                                "nullable": true
                            },
                            "sent_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
[...]
