{
    "openapi": "3.1.0",
    "info": {
        "title": "Elements Supply API",
        "version": "2025.11.0",
        "summary": "Canonical contract for the Elements Supply public API.",
        "description": "Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single\npublic API for authenticated buyers, suppliers, and platform administrators. All responses\nare wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to\nthe schemas defined in this spec. Unless noted otherwise, every path requires either a\nbearer token (Sanctum personal access token) or an API key issued by the platform admin\nconsole.\n",
        "contact": {
            "name": "Elements Supply Team",
            "url": "https://elements-supply.ai",
            "email": "support@elements-supply.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.elements-supply.ai",
            "description": "Production API endpoint"
        },
        {
            "url": "https://{tenant}.elements-supply.ai",
            "description": "Tenant-scoped production endpoint",
            "variables": {
                "tenant": {
                    "description": "Subdomain slug for the tenant (e.g. `acme`)",
                    "default": "app"
                }
            }
        },
        {
            "url": "http://localhost/api",
            "description": "Local development"
        }
    ],
    "externalDocs": {
        "description": "Full product requirements",
        "url": "https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md"
    },
    "tags": [
        {
            "name": "Health",
            "description": "Readiness and diagnostic endpoints"
        },
        {
            "name": "Auth",
            "description": "Authentication session management and API key usage"
        },
        {
            "name": "RFQs",
            "description": "Manage requests for quotation and related supplier interactions"
        },
        {
            "name": "RFPs",
            "description": "Project RFP authoring, publishing, and proposal workflows"
        },
        {
            "name": "Quotes",
            "description": "Quote submission, revision, and award workflows"
        },
        {
            "name": "Purchase Orders",
            "description": "Purchase order lifecycle, change orders, and totals"
        },
        {
            "name": "Orders",
            "description": "Supplier-facing order visibility endpoints"
        },
        {
            "name": "Invoices",
            "description": "Invoicing, credit notes, and financial reconciliation"
        },
        {
            "name": "Inventory",
            "description": "Goods receipt, issues, and warehouse movements"
        },
        {
            "name": "Exports",
            "description": "Bulk data export creation and download"
        },
        {
            "name": "Downloads",
            "description": "On-demand PDF or CSV document downloads queued from the workspace"
        },
        {
            "name": "CRM",
            "description": "Customer relationship data exports and insights"
        },
        {
            "name": "Suppliers",
            "description": "Supplier directory, segments, and applications"
        },
        {
            "name": "Notifications",
            "description": "In-app notification feeds and read state management"
        },
        {
            "name": "Risk",
            "description": "Supplier risk scoring and refresh workflows"
        },
        {
            "name": "Digital Twin",
            "description": "Asset telemetry, synchronization, and work orders"
        },
        {
            "name": "Analytics",
            "description": "Self-serve analytics reports and scheduled runs"
        },
        {
            "name": "Copilot",
            "description": "AI-assisted workflows and prompt catalogues"
        },
        {
            "name": "Documents",
            "description": "File uploads and document staging APIs"
        },
        {
            "name": "Settings",
            "description": "Tenant-level configuration (company profile, localization, numbering)"
        },
        {
            "name": "Localization",
            "description": "Localization settings, units of measure, and conversions"
        },
        {
            "name": "Money",
            "description": "Monetary settings, FX rates, and tax configuration"
        },
        {
            "name": "Billing",
            "description": "Subscription management, billing portal access, and plan checkout flows"
        },
        {
            "name": "Approvals",
            "description": "Purchase order approval rules, requests, and delegations"
        },
        {
            "name": "Admin",
            "description": "Platform administration (plans, health, read-only reference data)"
        },
        {
            "name": "Webhooks",
            "description": "Outbound webhook subscription formats and delivery expectations"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API keys are issued and rotated in the platform admin console. Include the value in the\n`X-API-Key` header to authenticate machine-to-machine integrations.\n"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific\ncompany tenant and inherit the permissions assigned to the issuing user.\n"
            }
        },
        "parameters": {
            "AcceptLanguage": {
                "name": "Accept-Language",
                "in": "header",
                "required": false,
                "description": "Overrides language resolution when localization features are enabled.",
                "schema": {
                    "type": "string"
                }
            },
            "CursorQuery": {
                "name": "cursor",
                "in": "query",
                "required": false,
                "description": "Cursor token for pagination.",
                "schema": {
                    "type": "string"
                }
            },
            "PageQuery": {
                "name": "page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1
                }
            },
            "PerPageQuery": {
                "name": "per_page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                }
            },
            "XRequestId": {
                "name": "X-Request-Id",
                "in": "header",
                "required": false,
                "description": "Correlates requests across services. Echoed back on every response when supplied.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "headers": {
            "XRateLimitLimit": {
                "description": "Maximum number of requests allowed in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitRemaining": {
                "description": "Remaining requests available in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitReset": {
                "description": "Seconds until the current rate limit window resets.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRequestId": {
                "description": "Unique identifier for the current request.",
                "schema": {
                    "type": "string"
                }
            },
            "XTraceId": {
                "description": "Internal trace identifier for support escalations.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "AcknowledgeOrderPayload": {
                "type": "object",
                "required": [
                    "decision"
                ],
                "properties": {
                    "decision": {
                        "type": "string",
                        "enum": [
                            "accept",
                            "decline"
                        ]
                    },
                    "reason": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 500
                    }
                }
            },
            "AdminHealth": {
                "type": "object",
                "properties": {
                    "app_version": {
                        "type": "string"
                    },
                    "php_version": {
                        "type": "string"
                    },
                    "queue_connection": {
                        "type": "string"
                    },
                    "database_connected": {
                        "type": "boolean"
                    },
                    "pending_webhook_deliveries": {
                        "type": "integer"
                    }
                }
            },
            "AiChatAttachment": {
                "type": "object",
                "additionalProperties": true,
                "description": "Arbitrary attachment metadata captured by the client."
            },
            "AiChatCreateThreadRequest": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    }
                }
            },
            "AiChatDraftAction": {
                "type": "object",
                "required": [
                    "action_type",
                    "summary",
                    "payload",
                    "citations",
                    "confidence",
                    "needs_human_review",
                    "warnings"
                ],
                "properties": {
                    "action_type": {
                        "type": "string"
                    },
                    "summary": {
                        "type": "string"
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "citations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CopilotCitation"
                        }
                    },
                    "confidence": {
                        "type": "number",
                        "format": "float"
                    },
                    "needs_human_review": {
                        "type": "boolean"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "draft_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "AiChatGuidedResolution": {
                "type": "object",
                "required": [
                    "title",
                    "description",
                    "cta_label"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "cta_label": {
                        "type": "string"
                    },
                    "cta_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "locale": {
                        "type": "string",
                        "maxLength": 10,
                        "description": "Language used to render the help content."
                    },
                    "available_locales": {
                        "type": "array",
                        "description": "Language codes Copilot can serve for this guide.",
                        "items": {
                            "type": "string",
                            "maxLength": 10
                        }
                    }
                }
            },
            "AiChatMessage": {
                "type": "object",
                "required": [
                    "id",
                    "thread_id",
                    "role",
                    "status",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "thread_id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "user",
                            "assistant",
                            "system",
                            "tool"
                        ]
                    },
                    "content_text": {
                        "type": "string",
                        "nullable": true
                    },
                    "content": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "citations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CopilotCitation"
                        }
                    },
                    "tool_calls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiChatToolCall"
                        }
                    },
                    "tool_results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiChatToolResult"
                        }
                    },
                    "latency_ms": {
                        "type": "integer",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "completed",
                            "failed"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AiChatMessageContext": {
                "type": "object",
                "properties": {
                    "context": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Domain-specific context supplied by the UI."
                    },
                    "ui_mode": {
                        "type": "string",
                        "maxLength": 50
                    },
                    "locale": {
                        "type": "string",
                        "maxLength": 10,
                        "description": "Preferred language tag (BCP 47) used when requesting localized help guides."
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiChatAttachment"
                        }
                    }
                },
                "additionalProperties": false
            },
            "AiChatResolveToolsRequest": {
                "type": "object",
                "required": [
                    "tool_calls"
                ],
                "properties": {
                    "tool_calls": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 5,
                        "items": {
                            "$ref": "#/components/schemas/AiChatToolCall"
                        }
                    },
                    "context": {
                        "$ref": "#/components/schemas/AiChatMessageContext"
                    }
                }
            },
            "AiChatResponse": {
                "type": "object",
                "required": [
                    "type",
                    "assistant_message_markdown",
                    "citations",
                    "suggested_quick_replies",
                    "needs_human_review",
                    "confidence",
                    "warnings"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "answer",
                            "draft_action",
                            "workflow_suggestion",
                            "guided_resolution",
                            "tool_request",
                            "review_rfq",
                            "review_quote",
                            "review_po",
                            "review_invoice",
                            "analytics",
                            "forecast_spend",
                            "forecast_supplier_performance",
                            "forecast_inventory",
                            "error"
                        ]
                    },
                    "assistant_message_markdown": {
                        "type": "string"
                    },
                    "citations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CopilotCitation"
                        }
                    },
                    "suggested_quick_replies": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "draft": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/AiChatDraftAction"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "workflow": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/AiChatWorkflowSuggestion"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "guided_resolution": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/AiChatGuidedResolution"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "description": "Localized help metadata surfaced when Copilot cannot automate the requested task."
                    },
                    "tool_calls": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/AiChatToolCall"
                        }
                    },
                    "tool_results": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/AiChatToolResult"
                        }
                    },
                    "needs_human_review": {
                        "type": "boolean"
                    },
                    "confidence": {
                        "type": "number",
                        "format": "float"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "review": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true,
                        "description": "Structured checklist payload for review_* responses."
                    }
                }
            },
            "AiChatSendMessageRequest": {
                "type": "object",
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string",
                        "maxLength": 4000
                    },
                    "context": {
                        "$ref": "#/components/schemas/AiChatMessageContext"
                    },
                    "ui_mode": {
                        "type": "string",
                        "maxLength": 50,
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiChatAttachment"
                        }
                    },
                    "stream": {
                        "type": "boolean",
                        "description": "When true, the endpoint returns a stream token for SSE consumption."
                    }
                }
            },
            "AiChatSendMessageResult": {
                "type": "object",
                "required": [
                    "user_message",
                    "assistant_message",
                    "response"
                ],
                "properties": {
                    "user_message": {
                        "$ref": "#/components/schemas/AiChatMessage"
                    },
                    "assistant_message": {
                        "$ref": "#/components/schemas/AiChatMessage"
                    },
                    "response": {
                        "$ref": "#/components/schemas/AiChatResponse"
                    }
                }
            },
            "AiChatStreamSession": {
                "type": "object",
                "required": [
                    "user_message",
                    "stream_token",
                    "expires_in"
                ],
                "properties": {
                    "user_message": {
                        "$ref": "#/components/schemas/AiChatMessage"
                    },
                    "stream_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer",
                        "description": "Lifetime of the stream token in seconds."
                    }
                }
            },
            "AiChatThread": {
                "type": "object",
                "required": [
                    "id",
                    "status",
                    "user_id",
                    "metadata",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "$ref": "#/components/schemas/AiChatThreadStatus"
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "last_message_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "thread_summary": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "messages": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "$ref": "#/components/schemas/AiChatMessage"
                        }
                    }
                }
            },
            "AiChatThreadStatus": {
                "type": "string",
                "enum": [
                    "open",
                    "closed"
                ]
            },
            "AiChatToolCall": {
                "type": "object",
                "required": [
                    "tool_name",
                    "call_id"
                ],
                "properties": {
                    "tool_name": {
                        "type": "string",
                        "enum": [
                            "workspace.search_rfqs",
                            "workspace.get_rfq",
                            "workspace.list_suppliers",
                            "workspace.get_quotes_for_rfq",
                            "workspace.get_inventory_item",
                            "workspace.low_stock",
                            "workspace.get_awards",
                            "workspace.get_receipts",
                            "workspace.get_invoices",
                            "workspace.award_quote",
                            "workspace.invoice_draft",
                            "workspace.approve_invoice",
                            "workspace.review_rfq",
                            "workspace.review_quote",
                            "workspace.review_po",
                            "workspace.review_invoice"
                        ]
                    },
                    "call_id": {
                        "type": "string",
                        "maxLength": 128
                    },
                    "arguments": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    }
                }
            },
            "AiChatToolResolveResult": {
                "type": "object",
                "required": [
                    "tool_message",
                    "assistant_message",
                    "response"
                ],
                "properties": {
                    "tool_message": {
                        "$ref": "#/components/schemas/AiChatMessage"
                    },
                    "assistant_message": {
                        "$ref": "#/components/schemas/AiChatMessage"
                    },
                    "response": {
                        "$ref": "#/components/schemas/AiChatResponse"
                    }
                }
            },
            "AiChatToolResult": {
                "type": "object",
                "required": [
                    "tool_name",
                    "call_id"
                ],
                "properties": {
                    "tool_name": {
                        "type": "string"
                    },
                    "call_id": {
                        "type": "string"
                    },
                    "result": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    }
                }
            },
            "AiChatWorkflowStep": {
                "type": "object",
                "required": [
                    "title",
                    "summary"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "summary": {
                        "type": "string"
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Structured metadata describing how to execute the step."
                    }
                }
            },
            "AiChatWorkflowSuggestion": {
                "type": "object",
                "required": [
                    "workflow_type",
                    "steps",
                    "payload"
                ],
                "properties": {
                    "workflow_type": {
                        "type": "string"
                    },
                    "steps": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiChatWorkflowStep"
                        }
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "AiDocumentReindexRequest": {
                "type": "object",
                "description": "Payload required to queue an AI reindex for a document.",
                "required": [
                    "doc_id",
                    "doc_version"
                ],
                "properties": {
                    "doc_id": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "doc_version": {
                        "type": "string",
                        "maxLength": 100
                    }
                }
            },
            "AiDocumentReindexStatus": {
                "type": "object",
                "description": "Echo payload describing the queued reindex operation.",
                "required": [
                    "doc_id",
                    "doc_version"
                ],
                "properties": {
                    "doc_id": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "doc_version": {
                        "type": "string",
                        "maxLength": 100
                    }
                }
            },
            "AiSettings": {
                "type": "object",
                "required": [
                    "llm_answers_enabled",
                    "llm_provider"
                ],
                "properties": {
                    "llm_answers_enabled": {
                        "type": "boolean",
                        "description": "Toggle that controls whether the tenant can receive LLM-composed assistant answers."
                    },
                    "llm_provider": {
                        "type": "string",
                        "description": "Active model provider backing the assistant (returns \"dummy\" when disabled).",
                        "enum": [
                            "dummy",
                            "openai"
                        ]
                    }
                }
            },
            "AiTrainingJob": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "feature",
                    "status",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "feature": {
                        "type": "string",
                        "enum": [
                            "forecast",
                            "risk",
                            "rag",
                            "actions",
                            "workflows",
                            "chat"
                        ]
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "running",
                            "completed",
                            "failed"
                        ]
                    },
                    "microservice_job_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "parameters": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "result": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "started_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "finished_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AiUsageActionMetrics": {
                "type": "object",
                "required": [
                    "planned",
                    "approved",
                    "approval_rate"
                ],
                "properties": {
                    "planned": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "approved": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "approval_rate": {
                        "type": "number",
                        "format": "float",
                        "nullable": true,
                        "description": "Percentage of planned Copilot drafts that were approved in the trailing window."
                    }
                }
            },
            "AiUsageForecastMetrics": {
                "type": "object",
                "required": [
                    "generated",
                    "errors"
                ],
                "properties": {
                    "generated": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "errors": {
                        "type": "integer",
                        "minimum": 0
                    }
                }
            },
            "AiUsageHelpMetrics": {
                "type": "object",
                "required": [
                    "total"
                ],
                "properties": {
                    "total": {
                        "type": "integer",
                        "minimum": 0
                    }
                }
            },
            "AiUsageMetrics": {
                "type": "object",
                "required": [
                    "window_days",
                    "window_start",
                    "window_end",
                    "actions",
                    "forecasts",
                    "help_requests",
                    "tool_errors"
                ],
                "properties": {
                    "window_days": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "window_start": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "window_end": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "actions": {
                        "$ref": "#/components/schemas/AiUsageActionMetrics"
                    },
                    "forecasts": {
                        "$ref": "#/components/schemas/AiUsageForecastMetrics"
                    },
                    "help_requests": {
                        "$ref": "#/components/schemas/AiUsageHelpMetrics"
                    },
                    "tool_errors": {
                        "$ref": "#/components/schemas/AiUsageToolErrorMetrics"
                    }
                }
            },
            "AiUsageToolErrorBreakdown": {
                "type": "object",
                "required": [
                    "feature",
                    "count"
                ],
                "properties": {
                    "feature": {
                        "type": "string"
                    },
                    "count": {
                        "type": "integer",
                        "minimum": 0
                    }
                }
            },
            "AiUsageToolErrorMetrics": {
                "type": "object",
                "required": [
                    "total",
                    "by_feature"
                ],
                "properties": {
                    "total": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "by_feature": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiUsageToolErrorBreakdown"
                        }
                    }
                }
            },
            "AiWorkflow": {
                "type": "object",
                "required": [
                    "workflow_id",
                    "workflow_type",
                    "status",
                    "steps"
                ],
                "properties": {
                    "workflow_id": {
                        "type": "string"
                    },
                    "workflow_type": {
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/AiWorkflowStatus"
                    },
                    "current_step": {
                        "type": "integer",
                        "nullable": true
                    },
                    "last_event_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "last_event_time": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "steps": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AiWorkflowStepSummary"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AiWorkflowCompleteRequest": {
                "type": "object",
                "required": [
                    "step_index",
                    "approval"
                ],
                "properties": {
                    "step_index": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "approval": {
                        "type": "boolean"
                    },
                    "output": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "notes": {
                        "type": "string",
                        "maxLength": 2000,
                        "nullable": true
                    }
                }
            },
            "AiWorkflowEvent": {
                "type": "object",
                "required": [
                    "event",
                    "status",
                    "timestamp"
                ],
                "properties": {
                    "event": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "latency_ms": {
                        "type": "integer",
                        "nullable": true
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "workflow": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "payload": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "user": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer",
                                "nullable": true
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "email": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    }
                }
            },
            "AiWorkflowStartRequest": {
                "type": "object",
                "required": [
                    "workflow_type"
                ],
                "properties": {
                    "workflow_type": {
                        "type": "string"
                    },
                    "rfq_id": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "goal": {
                        "type": "string",
                        "maxLength": 2000,
                        "nullable": true
                    },
                    "inputs": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "user_context": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "thread_id": {
                        "type": "integer",
                        "minimum": 1,
                        "nullable": true
                    }
                }
            },
            "AiWorkflowStatus": {
                "type": "string",
                "enum": [
                    "pending",
                    "in_progress",
                    "completed",
                    "failed",
                    "rejected",
                    "aborted"
                ]
            },
            "AiWorkflowStep": {
                "type": "object",
                "required": [
                    "workflow_id",
                    "step_index",
                    "action_type",
                    "approval_status"
                ],
                "properties": {
                    "workflow_id": {
                        "type": "string"
                    },
                    "step_index": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "action_type": {
                        "type": "string"
                    },
                    "inputs": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "draft": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "output": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "approval_status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "approved",
                            "rejected"
                        ]
                    },
                    "approved_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AiWorkflowStepSummary": {
                "type": "object",
                "properties": {
                    "step_index": {
                        "type": "integer",
                        "nullable": true
                    },
                    "action_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "approval_status": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "AnalyticsReportSummary": {
                "type": "object",
                "required": [
                    "summary_markdown",
                    "bullets",
                    "source",
                    "provider"
                ],
                "properties": {
                    "summary_markdown": {
                        "type": "string",
                        "description": "Markdown-formatted overview of key insights."
                    },
                    "bullets": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "source": {
                        "type": "string",
                        "description": "Indicates whether the content came from AI or deterministic fallback logic."
                    },
                    "provider": {
                        "type": "string",
                        "description": "Identifier for the model or fallback generator."
                    }
                }
            },
            "ApiErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                ]
            },
            "ApiKey": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "name",
                    "token_prefix"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "owner_user_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "token_prefix": {
                        "type": "string",
                        "description": "First six characters of the secret for display."
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ApiKeyPreview": {
                "type": "object",
                "required": [
                    "id",
                    "prefix",
                    "created_at",
                    "last_used_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "prefix": {
                        "type": "string",
                        "description": "Safe-to-log key prefix (first 6 characters)."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "ApiSuccessResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                ]
            },
            "ApproveScrapedSupplierRequest": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "website": {
                        "type": "string",
                        "format": "uri",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 191,
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "maxLength": 40,
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "maxLength": 120,
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "maxLength": 120,
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 2,
                        "nullable": true
                    },
                    "product_summary": {
                        "type": "string",
                        "nullable": true
                    },
                    "certifications": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "maxLength": 160
                        },
                        "nullable": true
                    },
                    "capabilities": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": false,
                        "properties": {
                            "methods": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 160
                                }
                            },
                            "materials": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 160
                                }
                            },
                            "finishes": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 160
                                }
                            },
                            "industries": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 160
                                }
                            },
                            "tolerances": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 120
                                }
                            },
                            "price_band": {
                                "type": "string",
                                "maxLength": 120,
                                "nullable": true
                            },
                            "summary": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "notes": {
                        "type": "string",
                        "maxLength": 2000,
                        "nullable": true
                    },
                    "lead_time_days": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 365,
                        "nullable": true
                    },
                    "moq": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000000,
                        "nullable": true
                    },
                    "attachment_type": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                            "iso9001",
                            "iso14001",
                            "as9100",
                            "itar",
                            "reach",
                            "rohs",
                            "insurance",
                            "nda",
                            "other"
                        ]
                    },
                    "attachment": {
                        "type": "string",
                        "format": "binary",
                        "nullable": true
                    }
                }
            },
            "AuthForgotPasswordRequest": {
                "type": "object",
                "required": [
                    "email"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    }
                },
                "additionalProperties": false
            },
            "AuthLoginRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password"
                    },
                    "remember": {
                        "type": "boolean",
                        "description": "When true the session cookie is kept beyond the current browser session."
                    }
                },
                "additionalProperties": false
            },
            "AuthPersona": {
                "type": "object",
                "required": [
                    "key",
                    "type",
                    "company_id",
                    "company_name",
                    "company_status",
                    "is_default"
                ],
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "Stable persona identifier combining the persona type and scoped identifiers."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "buyer",
                            "supplier"
                        ]
                    },
                    "company_id": {
                        "type": "integer",
                        "description": "Identifier of the buyer company context for this persona. For supplier personas this is the buyer that issued the invite."
                    },
                    "company_name": {
                        "type": "string"
                    },
                    "company_status": {
                        "type": "string"
                    },
                    "company_supplier_status": {
                        "type": "string",
                        "nullable": true
                    },
                    "role": {
                        "type": "string",
                        "nullable": true,
                        "description": "Buyer role associated with the persona, when applicable."
                    },
                    "supplier_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "supplier_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "supplier_company_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "supplier_company_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "is_default": {
                        "type": "boolean",
                        "description": "Indicates whether this persona should be pre-selected after login."
                    }
                },
                "additionalProperties": false
            },
            "AuthResetPasswordRequest": {
                "type": "object",
                "required": [
                    "token",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Token issued via the password reset email."
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "minLength": 8
                    },
                    "password_confirmation": {
                        "type": "string",
                        "format": "password",
                        "description": "Must match `password`."
                    }
                },
                "additionalProperties": false
            },
            "AuthSession": {
                "type": "object",
                "required": [
                    "token",
                    "user",
                    "feature_flags"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Session identifier echoed in the `XSRF-TOKEN` cookie for SPA clients."
                    },
                    "user": {
                        "$ref": "#/components/schemas/AuthSessionUser"
                    },
                    "company": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AuthSessionCompany"
                            }
                        ],
                        "nullable": true
                    },
                    "feature_flags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "boolean"
                        },
                        "description": "Flattened feature flag map for the authenticated company."
                    },
                    "plan": {
                        "type": "string",
                        "nullable": true,
                        "description": "Active plan code assigned to the company, if any."
                    }
                },
                "additionalProperties": false
            },
            "AuthSessionCompany": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Current buyer onboarding status."
                    },
                    "plan": {
                        "type": "string",
                        "nullable": true,
                        "description": "Plan code applied to the company."
                    }
                },
                "additionalProperties": false
            },
            "AuthSessionUser": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "email",
                    "role"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "role": {
                        "type": "string",
                        "description": "Role assigned to the user (buyer_admin, supplier_user, etc.)."
                    },
                    "company_id": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AuthSwitchPersonaRequest": {
                "type": "object",
                "required": [
                    "key"
                ],
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "Persona key returned by the session payload (e.g. `buyer:12` or `supplier:45:77`)."
                    }
                },
                "additionalProperties": false
            },
            "AuthToken": {
                "type": "object",
                "required": [
                    "token",
                    "type",
                    "expires_at"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Personal access token value. Store securely."
                    },
                    "type": {
                        "type": "string",
                        "description": "Token type indicator (always `Bearer`).",
                        "enum": [
                            "Bearer"
                        ]
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "AwardLinesRequest": {
                "type": "object",
                "required": [
                    "lines"
                ],
                "properties": {
                    "lines": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "rfq_item_id",
                                "quote_id",
                                "quantity"
                            ],
                            "properties": {
                                "rfq_item_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quote_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quantity": {
                                    "type": "integer",
                                    "minimum": 1
                                }
                            }
                        }
                    }
                }
            },
            "BillingInvoice": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "number": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string",
                        "nullable": true
                    },
                    "amount_due": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Minor units owed on the invoice."
                    },
                    "amount_paid": {
                        "type": "integer",
                        "nullable": true
                    },
                    "amount_remaining": {
                        "type": "integer",
                        "nullable": true
                    },
                    "total": {
                        "type": "integer",
                        "nullable": true
                    },
                    "hosted_invoice_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "invoice_pdf": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "due_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "period_start": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "period_end": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "collection_method": {
                        "type": "string",
                        "nullable": true
                    },
                    "attempt_count": {
                        "type": "integer",
                        "nullable": true
                    },
                    "next_payment_attempt_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "is_paid": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "is_attempting_collection": {
                        "type": "boolean",
                        "nullable": true
                    }
                }
            },
            "BillingPortalSession": {
                "type": "object",
                "required": [
                    "portal"
                ],
                "properties": {
                    "portal": {
                        "type": "object",
                        "required": [
                            "provider",
                            "url"
                        ],
                        "properties": {
                            "provider": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string",
                                "format": "uri"
                            }
                        }
                    }
                }
            },
            "CloseRfqRequest": {
                "type": "object",
                "properties": {
                    "reason": {
                        "type": "string",
                        "nullable": true,
                        "description": "Buyer-provided rationale for closing the RFQ."
                    },
                    "closed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Overrides the default (now) close timestamp if the backend permits backdating."
                    }
                }
            },
            "CompanyAddress": {
                "type": "object",
                "required": [
                    "line1",
                    "country"
                ],
                "properties": {
                    "attention": {
                        "type": "string",
                        "nullable": true
                    },
                    "line1": {
                        "type": "string"
                    },
                    "line2": {
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "nullable": true
                    },
                    "postal_code": {
                        "type": "string",
                        "nullable": true
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "CompanyGoodsReceiptLineInput": {
                "type": "object",
                "required": [
                    "po_line_id",
                    "qty_received"
                ],
                "properties": {
                    "po_line_id": {
                        "type": "integer"
                    },
                    "qty_received": {
                        "type": "number"
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "CompanyInvitation": {
                "type": "object",
                "required": [
                    "id",
                    "email",
                    "role",
                    "status",
                    "company_id"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "role": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Invitation lifecycle state (pending, accepted, revoked, expired)."
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "accepted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "revoked_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "invited_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CompanyMember": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "email",
                    "role",
                    "membership",
                    "role_conflict"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "role": {
                        "type": "string"
                    },
                    "job_title": {
                        "type": "string",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "nullable": true
                    },
                    "avatar_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "last_login_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "is_active_company": {
                        "type": "boolean"
                    },
                    "membership": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer",
                                "nullable": true
                            },
                            "company_id": {
                                "type": "integer",
                                "nullable": true
                            },
                            "is_default": {
                                "type": "boolean"
                            },
                            "last_used_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            }
                        }
                    },
                    "role_conflict": {
                        "type": "object",
                        "properties": {
                            "total_companies": {
                                "type": "integer"
                            },
                            "distinct_roles": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "buyer_supplier_conflict": {
                                "type": "boolean"
                            },
                            "has_conflict": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "CompanyProfile": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "description": "Buyer account status (pending, active, suspended, archived)."
                    },
                    "supplier_status": {
                        "type": "string",
                        "nullable": true
                    },
                    "email_domain": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_contact_email": {
                        "type": "string",
                        "format": "email",
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "nullable": true
                    },
                    "website": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "has_completed_onboarding": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CompanyRoleTemplateCatalog": {
                "type": "object",
                "required": [
                    "roles",
                    "permission_groups"
                ],
                "properties": {
                    "roles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RoleTemplate"
                        }
                    },
                    "permission_groups": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "CompanySettings": {
                "type": "object",
                "required": [
                    "legal_name",
                    "display_name",
                    "bill_to",
                    "ship_from"
                ],
                "properties": {
                    "legal_name": {
                        "type": "string"
                    },
                    "display_name": {
                        "type": "string"
                    },
                    "tax_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "registration_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "emails": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    "phones": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "bill_to": {
                        "$ref": "#/components/schemas/CompanyAddress"
                    },
                    "ship_from": {
                        "$ref": "#/components/schemas/CompanyAddress"
                    },
                    "logo_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "mark_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    }
                }
            },
            "CopilotActionDraft": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "action_type": {
                        "type": "string",
                        "enum": [
                            "rfq_draft",
                            "supplier_message",
                            "maintenance_checklist",
                            "inventory_whatif",
                            "award_quote",
                            "invoice_draft",
                            "approve_invoice"
                        ]
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "drafted",
                            "approved",
                            "rejected",
                            "expired"
                        ]
                    },
                    "summary": {
                        "type": "string",
                        "nullable": true
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Structured payload Copilot proposes applying to the workspace."
                    },
                    "citations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CopilotCitation"
                        }
                    },
                    "confidence": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "needs_human_review": {
                        "type": "boolean"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "output": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Raw Copilot response for auditing and debugging."
                    },
                    "entity_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "entity_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CopilotActionFeedback": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "ai_action_draft_id": {
                        "type": "integer"
                    },
                    "rating": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5
                    },
                    "comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CopilotActionFeedbackRequest": {
                "type": "object",
                "required": [
                    "rating"
                ],
                "properties": {
                    "rating": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5,
                        "description": "Rating on a five-point scale describing draft quality."
                    },
                    "comment": {
                        "type": "string",
                        "maxLength": 2000,
                        "nullable": true,
                        "description": "Optional free-form feedback for the AI team."
                    }
                }
            },
            "CopilotActionPlanRequest": {
                "type": "object",
                "required": [
                    "action_type",
                    "query"
                ],
                "properties": {
                    "action_type": {
                        "type": "string",
                        "description": "Type of Copilot action to execute.",
                        "enum": [
                            "rfq_draft",
                            "supplier_message",
                            "maintenance_checklist",
                            "inventory_whatif",
                            "award_quote",
                            "invoice_draft",
                            "approve_invoice"
                        ]
                    },
                    "query": {
                        "type": "string",
                        "maxLength": 2000,
                        "description": "Natural language instruction provided to Copilot."
                    },
                    "inputs": {
                        "type": "object",
                        "description": "Structured key/value pairs used to seed the draft payload.",
                        "additionalProperties": true
                    },
                    "user_context": {
                        "type": "object",
                        "description": "Supplemental context about the acting user and company.",
                        "additionalProperties": true
                    },
                    "top_k": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 25,
                        "default": 8,
                        "description": "Number of semantic search chunks retrieved upstream."
                    },
                    "filters": {
                        "type": "object",
                        "description": "Optional semantic search filters.",
                        "properties": {
                            "source_type": {
                                "type": "string",
                                "maxLength": 128
                            },
                            "doc_id": {
                                "type": "string",
                                "maxLength": 255
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "maxLength": 64
                                }
                            }
                        }
                    },
                    "entity_type": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true,
                        "description": "Domain entity the draft references (e.g. `rfq`)."
                    },
                    "entity_id": {
                        "type": "integer",
                        "minimum": 1,
                        "nullable": true,
                        "description": "Identifier of the referenced entity when present."
                    }
                }
            },
            "CopilotActionRejectRequest": {
                "type": "object",
                "required": [
                    "reason"
                ],
                "properties": {
                    "reason": {
                        "type": "string",
                        "maxLength": 1000,
                        "description": "Human-readable explanation of why the draft was rejected."
                    }
                }
            },
            "CopilotAnswerResult": {
                "type": "object",
                "required": [
                    "answer",
                    "citations"
                ],
                "properties": {
                    "answer": {
                        "type": "string",
                        "description": "Structured natural language response assembled from the top chunks."
                    },
                    "citations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CopilotCitation"
                        },
                        "description": "Source mapping each bullet point back to a document chunk."
                    }
                }
            },
            "CopilotCitation": {
                "type": "object",
                "required": [
                    "doc_id",
                    "doc_version",
                    "chunk_id",
                    "snippet",
                    "score"
                ],
                "properties": {
                    "doc_id": {
                        "type": "string"
                    },
                    "doc_version": {
                        "type": "string"
                    },
                    "chunk_id": {
                        "type": "string"
                    },
                    "score": {
                        "type": "number",
                        "format": "float"
                    },
                    "snippet": {
                        "type": "string"
                    }
                }
            },
            "CopilotQueryRequest": {
                "type": "object",
                "description": "Query payload accepted by copilot semantic search and answer endpoints.",
                "required": [
                    "query"
                ],
                "properties": {
                    "query": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "top_k": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "Overrides the default number of chunks returned by the AI service."
                    },
                    "filters": {
                        "$ref": "#/components/schemas/CopilotSearchFilters"
                    }
                }
            },
            "CopilotSearchFilters": {
                "type": "object",
                "description": "Optional filters applied to copilot search and answer endpoints.",
                "properties": {
                    "source_type": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "doc_id": {
                        "type": "string",
                        "description": "Document identifier as a string to match the AI index payloads."
                    },
                    "doc_version": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "maxLength": 100
                        },
                        "description": "Arbitrary metadata tags stored with the document index."
                    }
                }
            },
            "CopilotSearchHit": {
                "type": "object",
                "description": "Ranked chunk metadata returned from the semantic search endpoint.",
                "required": [
                    "doc_id",
                    "doc_version",
                    "chunk_id",
                    "score",
                    "snippet"
                ],
                "properties": {
                    "doc_id": {
                        "type": "string"
                    },
                    "doc_version": {
                        "type": "string"
                    },
                    "chunk_id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "snippet": {
                        "type": "string",
                        "description": "Preview text trimmed to the first 250 characters."
[...]
