{
    "openapi": "3.1.0",
    "info": {
        "title": "Elements Supply API",
        "version": "2025.11.0",
        "summary": "Canonical contract for the Elements Supply public API.",
        "description": "Elements Supply is a multi-tenant sourcing and procurement platform that exposes a single\npublic API for authenticated buyers, suppliers, and platform administrators. All responses\nare wrapped in the standard envelope documented in `/docs/API_ENVELOPE.md` and conform to\nthe schemas defined in this spec. Unless noted otherwise, every path requires either a\nbearer token (Sanctum personal access token) or an API key issued by the platform admin\nconsole. Date/time fields are returned in ISO 8601 format using the company-configured\ntimezone and include UTC offsets.\n"
    },
    "contact": {
        "name": "Elements Supply Team",
        "url": "https://elements-supply.ai",
        "email": "support@elements-supply.ai"
    },
    "servers": [
        {
            "url": "https://api.elements-supply.ai",
            "description": "Production API endpoint"
        },
        {
            "url": "https://{tenant}.elements-supply.ai",
            "description": "Tenant-scoped production endpoint",
            "variables": {
                "tenant": {
                    "description": "Subdomain slug for the tenant (e.g. `acme`)",
                    "default": "app"
                }
            }
        },
        {
            "url": "http://localhost/api",
            "description": "Local development"
        }
    ],
    "externalDocs": {
        "description": "Full product requirements",
        "url": "https://github.com/sadhurshan/elements-supply-ai/docs/REQUIREMENTS_FULL.md"
    },
    "tags": [
        {
            "name": "Health",
            "description": "Readiness and diagnostic endpoints."
        },
        {
            "name": "Auth",
            "description": "Authentication session management and API key usage."
        },
        {
            "name": "Companies & Plans",
            "description": "Company provisioning, billing plans, and entitlements."
        },
        {
            "name": "RFQs",
            "description": "Manage requests for quotation and related supplier interactions."
        },
        {
            "name": "Quotes",
            "description": "Quote submission, revision, and award workflows."
        },
        {
            "name": "Purchase Orders",
            "description": "Purchase order lifecycle, change orders, and totals."
        },
        {
            "name": "Invoices",
            "description": "Invoice lifecycle, matching, and settlement."
        },
        {
            "name": "Credit Notes",
            "description": "Credit note issuance, application, and reversal."
        },
        {
            "name": "Inventory",
            "description": "Goods receipt, issues, adjustments, and warehouse movements."
        },
        {
            "name": "Exports",
            "description": "Bulk data export creation and download."
        },
        {
            "name": "Localization",
            "description": "Localization settings, units of measure, and conversions."
        },
        {
            "name": "Money & Tax",
            "description": "Monetary settings, FX rates, and tax configuration."
        },
        {
            "name": "Admin",
            "description": "Platform administration (plans, feature flags, API keys, rate limits, health)."
        },
        {
            "name": "Webhooks",
            "description": "Outbound webhook subscription formats and delivery expectations."
        },
        {
            "name": "Search",
            "description": "Global search and contextual filtering for tenants."
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Supply a bearer token acquired via Sanctum. All tokens are scoped to a specific\ncompany tenant and inherit the permissions assigned to the issuing user.\n"
            },
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API keys are issued and rotated in the platform admin console. Include the value in the\n`X-API-Key` header to authenticate machine-to-machine integrations.\n"
            }
        },
        "parameters": {
            "XRequestId": {
                "name": "X-Request-Id",
                "in": "header",
                "required": false,
                "description": "Correlates requests across services. Echoed back on every response when supplied.",
                "schema": {
                    "type": "string"
                }
            },
            "AcceptLanguage": {
                "name": "Accept-Language",
                "in": "header",
                "required": false,
                "description": "Overrides language resolution when localization features are enabled.",
                "schema": {
                    "type": "string"
                }
            },
            "CursorQuery": {
                "name": "cursor",
                "in": "query",
                "required": false,
                "description": "Cursor token for pagination.",
                "schema": {
                    "type": "string"
                }
            },
            "PageQuery": {
                "name": "page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1
                }
            },
            "PerPageQuery": {
                "name": "per_page",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                }
            }
        },
        "headers": {
            "XRequestId": {
                "description": "Unique identifier for the current request.",
                "schema": {
                    "type": "string"
                }
            },
            "XRateLimitLimit": {
                "description": "Maximum number of requests allowed in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitRemaining": {
                "description": "Remaining requests available in the current window.",
                "schema": {
                    "type": "integer"
                }
            },
            "XRateLimitReset": {
                "description": "Seconds until the current rate limit window resets.",
                "schema": {
                    "type": "integer"
                }
            },
            "XTraceId": {
                "description": "Internal trace identifier for support escalations.",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "SuccessEnvelope": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "status",
                    "data"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "success"
                        ]
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    },
                    "data": {
                        "description": "Module-specific payload."
                    },
                    "meta": {
                        "$ref": "#/components/schemas/EnvelopeMeta"
                    }
                }
            },
            "ErrorEnvelope": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "status",
                    "message"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "error"
                        ]
                    },
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string",
                        "nullable": true
                    },
                    "errors": {
                        "type": "object",
                        "description": "Field-level validation errors keyed by attribute.",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "data": {
                        "nullable": true,
                        "description": "Always null for error responses."
                    },
                    "meta": {
                        "$ref": "#/components/schemas/EnvelopeMeta"
                    }
                }
            },
            "EnvelopeMeta": {
                "type": "object",
                "description": "Response metadata shared across envelopes.",
                "properties": {
                    "request_id": {
                        "type": "string",
                        "description": "Echoed from `X-Request-Id` when supplied; otherwise generated server-side."
                    },
                    "pagination": {
                        "description": "Pagination details when the response is a collection.",
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PaginationMeta"
                            },
                            {
                                "$ref": "#/components/schemas/CursorMeta"
                            }
                        ]
                    },
                    "next_cursor": {
                        "type": "string",
                        "nullable": true,
                        "description": "TODO: clarify if deprecated in favor of pagination.oneOf per spec."
                    },
                    "prev_cursor": {
                        "type": "string",
                        "nullable": true,
                        "description": "TODO: clarify if deprecated in favor of pagination.oneOf per spec."
                    }
                }
            },
            "PaginationMeta": {
                "type": "object",
                "description": "Pagination metadata for page/offset endpoints.",
                "required": [
                    "total",
                    "per_page",
                    "current_page",
                    "last_page"
                ],
                "properties": {
                    "total": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "per_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "current_page": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "last_page": {
                        "type": "integer",
                        "minimum": 1
                    }
                }
            },
            "CursorMeta": {
                "type": "object",
                "description": "Pagination metadata for cursor endpoints.",
                "required": [
                    "next_cursor"
                ],
                "properties": {
                    "next_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "prev_cursor": {
                        "type": "string",
                        "nullable": true
                    },
                    "has_next": {
                        "type": "boolean"
                    },
                    "has_prev": {
                        "type": "boolean"
                    }
                }
            },
            "Money": {
                "type": "object",
                "description": "Monetary amount with major/minor units. Mixed document currencies are not permitted.",
                "required": [
                    "amount",
                    "amount_minor",
                    "currency"
                ],
                "properties": {
                    "amount": {
                        "type": "number",
                        "format": "double",
                        "description": "Major units rendered according to the company currency format."
                    },
                    "amount_minor": {
                        "type": "integer",
                        "description": "Minor units (cents) aligned with ISO-4217 exponent."
                    },
                    "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3,
                        "description": "ISO-4217 currency code. All items in a document share the same currency."
                    }
                }
            },
            "Timeline": {
                "type": "object",
                "description": "Timestamps captured in company timezone with UTC offsets.",
                "properties": {
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "ErrorExamples": {
                "type": "object",
                "description": "TODO: consolidate reusable error examples per module."
            },
            "ApiSuccessResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/SuccessEnvelope"
                    }
                ]
            },
            "ApiErrorResponse": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                ]
            },
            "HealthStatus": {
                "type": "object",
                "required": [
                    "healthy",
                    "app",
                    "env",
                    "latency_ms"
                ],
                "properties": {
                    "healthy": {
                        "type": "boolean"
                    },
                    "app": {
                        "type": "string"
                    },
                    "env": {
                        "type": "string"
                    },
                    "git_hash": {
                        "type": "string",
                        "nullable": true,
                        "description": "Git commit deployed; null in local development."
                    },
                    "latency_ms": {
                        "type": "integer",
                        "description": "Measured average latency in milliseconds."
                    },
                    "debug": {
                        "type": "boolean",
                        "description": "Mirrors `app.debug` flag for visibility."
                    }
                }
            },
            "CompanyResource": {
                "type": "object",
                "description": "TODO: flesh out company schema per /docs/DOMAIN_MODEL.md.",
                "additionalProperties": true
            },
            "RfqCursorCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RfqResource"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/EnvelopeMeta"
                    }
                }
            },
            "RfqResource": {
                "type": "object",
                "description": "Canonical RFQ representation.",
                "required": [
                    "id",
                    "company_id",
                    "number",
                    "title",
                    "status",
                    "method",
                    "currency",
                    "open_bidding",
                    "rfq_version",
                    "timeline",
                    "items"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "number": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "method": {
                        "type": "string",
                        "enum": [
                            "cnc",
                            "sheet_metal",
                            "injection_molding",
                            "3d_printing",
                            "casting",
                            "other"
                        ]
                    },
                    "material": {
                        "type": "string",
                        "nullable": true
                    },
                    "tolerance": {
                        "type": "string",
                        "nullable": true
                    },
                    "finish": {
                        "type": "string",
                        "nullable": true
                    },
                    "incoterm": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "open",
                            "closed",
                            "awarded",
                            "cancelled"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "total_quantity": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "open_bidding": {
                        "type": "boolean"
                    },
                    "rfq_version": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "publish_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "due_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "close_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "attachments_count": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RfqItemResource"
                        }
                    },
                    "invitations_count": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "clarifications_count": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "meta": {
                        "type": "object",
                        "description": "TODO: clarify meta fields (e.g. compliance flags, custom properties).",
                        "additionalProperties": true
                    },
                    "timeline": {
                        "$ref": "#/components/schemas/Timeline"
                    }
                }
            },
            "RfqItemResource": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "line_no",
                    "part_number",
                    "description",
                    "quantity",
                    "uom"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "line_no": {
                        "type": "integer"
                    },
                    "part_number": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "quantity": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "uom": {
                        "type": "string"
                    },
                    "target_price": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ],
                        "nullable": true
                    },
                    "cad_document_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "specs": {
                        "type": "object",
                        "description": "Raw JSON specs captured during RFQ creation.",
                        "additionalProperties": true
                    }
                }
            },
            "RfqInvitationRequest": {
                "type": "object",
                "required": [
                    "suppliers"
                ],
                "properties": {
                    "suppliers": {
                        "type": "array",
                        "minItems": 1,
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    "message": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "RfqInvitationCollection": {
                "type": "object",
                "required": [
                    "items"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RfqInvitationResource"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/EnvelopeMeta"
                    }
                }
            },
            "RfqInvitationResource": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "supplier_id",
                    "status",
                    "invited_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "supplier_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "accepted",
                            "declined"
                        ]
                    },
                    "invited_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "responded_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "RfqClarificationResource": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "type",
                    "body",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "question",
                            "answer",
                            "amendment"
                        ]
                    },
                    "body": {
                        "type": "string"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        },
                        "description": "TODO: normalize attachment schema with documents module."
                    },
                    "author": {
                        "type": "object",
                        "description": "Clarification author (buyer or supplier).",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "RfqClarificationRequest": {
                "type": "object",
                "required": [
                    "body"
                ],
                "properties": {
                    "body": {
                        "type": "string"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Document IDs produced by the documents API."
                    }
                }
            },
            "RfqAwardRequest": {
                "type": "object",
                "required": [
                    "quote_id",
                    "award_reason"
                ],
                "properties": {
                    "quote_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "award_reason": {
                        "type": "string"
                    },
                    "notify_suppliers": {
                        "type": "boolean",
                        "default": true
                    }
                }
            },
            "RfqAwardLinesRequest": {
                "type": "object",
                "required": [
                    "lines"
                ],
                "properties": {
                    "lines": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "required": [
                                "rfq_item_id",
                                "quote_id",
                                "quantity"
                            ],
                            "properties": {
                                "rfq_item_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quote_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "quantity": {
                                    "type": "integer",
                                    "minimum": 1
                                }
                            }
                        }
                    }
                }
            },
            "RfqUpsertRequest": {
                "type": "object",
                "required": [
                    "title",
                    "method",
                    "currency",
                    "due_at",
                    "items"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "summary": {
                        "type": "string",
                        "nullable": true
                    },
                    "method": {
                        "type": "string",
                        "enum": [
                            "cnc",
                            "sheet_metal",
                            "injection_molding",
                            "3d_printing",
                            "casting",
                            "other"
                        ]
                    },
                    "material": {
                        "type": "string",
                        "nullable": true
                    },
                    "tolerance": {
                        "type": "string",
                        "nullable": true
                    },
                    "finish": {
                        "type": "string",
                        "nullable": true
                    },
                    "incoterm": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string"
                    },
                    "due_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "close_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "open_bidding": {
                        "type": "boolean",
                        "default": false
                    },
                    "notes": {
                        "type": "string",
                        "nullable": true
                    },
                    "publish_now": {
                        "type": "boolean",
                        "default": false
                    },
                    "attachments[]": {
                        "type": "string",
                        "format": "binary",
                        "description": "TODO: confirm attachment field naming convention for file uploads."
                    },
                    "items": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "required": [
                                "line_no",
                                "part_number",
                                "description",
                                "quantity",
                                "uom"
                            ],
                            "properties": {
                                "line_no": {
                                    "type": "integer"
                                },
                                "part_number": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "quantity": {
                                    "type": "integer",
                                    "minimum": 1
                                },
                                "uom": {
                                    "type": "string"
                                },
                                "target_price_minor": {
                                    "type": "integer",
                                    "nullable": true
                                },
                                "target_currency": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "specs": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            }
                        }
                    }
                }
            },
            "QuoteSummaryResource": {
                "type": "object",
                "description": "Summary projection used on RFQ quote tab.",
                "required": [
                    "id",
                    "rfq_id",
                    "supplier_id",
                    "status",
                    "total"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "supplier_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string"
                    },
                    "total": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ]
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "withdrawn_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "Quote": {
                "type": "object",
                "required": [
                    "id",
                    "rfq_id",
                    "supplier_id",
                    "status",
                    "currency",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "supplier_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "awarded",
                            "withdrawn",
                            "expired"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "subtotal": {
                        "type": "string"
                    },
                    "subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_amount": {
                        "type": "string"
                    },
                    "tax_amount_minor": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "min_order_qty": {
                        "type": "integer",
                        "nullable": true
                    },
                    "lead_time_days": {
                        "type": "integer",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "submitted_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "withdrawn_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "withdraw_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QuoteItem"
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "path": {
                                    "type": "string"
                                },
                                "mime": {
                                    "type": "string"
                                },
                                "size_bytes": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "revisions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QuoteRevision"
                        }
                    }
                }
            },
            "QuoteItem": {
                "type": "object",
                "required": [
                    "id",
                    "quote_id",
                    "rfq_item_id",
                    "quantity",
                    "unit_price_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "quote_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "rfq_item_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "uom": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "string"
                    },
                    "unit_price_minor": {
                        "type": "integer"
                    },
                    "line_total": {
                        "type": "string"
                    },
                    "line_total_minor": {
                        "type": "integer"
                    }
                }
            },
            "QuoteRevision": {
                "type": "object",
                "required": [
                    "id",
                    "quote_id",
                    "revision_no",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "quote_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string"
                    },
                    "submitted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "PurchaseOrder": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "po_number",
                    "status",
                    "currency",
                    "total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "po_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "sent",
                            "acknowledged",
                            "fulfilled",
                            "closed",
                            "cancelled"
                        ]
                    },
                    "currency": {
                        "type": "string"
                    },
                    "incoterm": {
                        "type": "string",
                        "nullable": true
                    },
                    "tax_percent": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "subtotal": {
                        "type": "string"
                    },
                    "subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_amount": {
                        "type": "string"
                    },
                    "tax_amount_minor": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "string"
                    },
                    "total_minor": {
                        "type": "integer"
                    },
                    "revision_no": {
                        "type": "integer"
                    },
                    "rfq_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "quote_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "supplier": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "rfq": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "number": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PurchaseOrderLine"
                        }
                    },
                    "change_orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PoChangeOrder"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "PurchaseOrderLine": {
                "type": "object",
                "required": [
                    "id",
                    "line_no",
                    "quantity",
                    "unit_price_minor",
                    "line_total_minor"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "line_no": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "quantity": {
                        "type": "number"
                    },
                    "uom": {
                        "type": "string",
                        "nullable": true
                    },
                    "currency": {
                        "type": "string"
                    },
                    "unit_price": {
                        "type": "number",
                        "format": "float"
                    },
                    "unit_price_minor": {
                        "type": "integer"
                    },
                    "line_subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "line_subtotal_minor": {
                        "type": "integer"
                    },
                    "tax_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_total_minor": {
                        "type": "integer"
                    },
                    "line_total": {
                        "type": "number",
                        "format": "float"
                    },
                    "line_total_minor": {
                        "type": "integer"
                    },
                    "delivery_date": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "taxes": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "tax_code_id": {
                                    "type": "integer"
                                },
                                "rate_percent": {
                                    "type": "number"
                                },
                                "amount_minor": {
                                    "type": "integer"
                                },
                                "amount": {
                                    "type": "number",
                                    "format": "float"
                                },
                                "sequence": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "PoChangeOrder": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "status",
                    "reason"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "purchase_order_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "proposed",
                            "accepted",
                            "rejected"
                        ]
                    },
                    "reason": {
                        "type": "string"
                    },
                    "po_revision_no": {
                        "type": "integer",
                        "nullable": true
                    },
                    "proposed_by_user_id": {
                        "type": "integer"
                    },
                    "proposed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "changes_json": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "proposed_by_user": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "purchase_order_id",
                    "invoice_number",
                    "status",
                    "currency",
                    "total"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "supplier_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "invoice_number": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "approved",
                            "rejected",
                            "paid"
                        ]
                    },
                    "subtotal": {
                        "type": "number",
                        "format": "float"
                    },
                    "tax_amount": {
                        "type": "number",
                        "format": "float"
                    },
                    "total": {
                        "type": "number",
                        "format": "float"
                    },
                    "match_summary": {
                        "type": "object",
                        "properties": {
                            "matched": {
                                "type": "integer"
                            },
                            "qty_mismatch": {
                                "type": "integer"
                            },
                            "price_mismatch": {
                                "type": "integer"
                            },
                            "unmatched": {
                                "type": "integer"
                            }
                        }
                    },
                    "document": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "filename": {
                                "type": "string"
                            },
                            "mime": {
                                "type": "string"
                            },
                            "size_bytes": {
                                "type": "integer"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "InvoiceCollection": {
                "type": "object",
                "required": [
                    "items",
                    "meta"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Invoice"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/PageMeta"
                    }
                }
            },
            "CreditNote": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "invoice_id",
                    "credit_number",
                    "status",
                    "amount"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "invoice_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "credit_number": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "string"
                    },
                    "amount_minor": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "pending_review",
                            "issued",
                            "approved",
                            "rejected"
                        ]
                    },
                    "review_comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "issued_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_by": {
                        "type": "integer",
                        "nullable": true
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "GoodsReceiptNote": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_id",
                    "number",
                    "status"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "inspecting",
                            "accepted",
                            "rejected"
                        ]
                    },
                    "inspected_by_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "inspected_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "inspector": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "lines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoodsReceiptLine"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "GoodsReceiptLine": {
                "type": "object",
                "required": [
                    "id",
                    "purchase_order_line_id",
                    "quantity_received"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "purchase_order_line_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "quantity_received": {
                        "type": "number"
                    },
                    "quantity_accepted": {
                        "type": "number",
                        "nullable": true
                    },
                    "quantity_rejected": {
                        "type": "number",
                        "nullable": true
                    },
                    "rejection_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "filename": {
                                    "type": "string"
                                },
                                "mime": {
                                    "type": "string"
                                },
                                "size_bytes": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "Rma": {
                "type": "object",
                "required": [
                    "id",
                    "status",
                    "purchase_order_id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "submitted",
                            "reviewing",
                            "approved",
                            "rejected",
                            "closed"
                        ]
                    },
                    "purchase_order_id": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "resolution": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ExportRequest": {
                "type": "object",
                "required": [
                    "id",
                    "type",
                    "status",
                    "filters",
                    "created_at"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "type": "string",
                        "description": "Export payload type identifier."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "queued",
                            "processing",
                            "completed",
                            "failed",
                            "expired"
                        ]
                    },
                    "filters": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "requested_by": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "download_url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "LocaleSetting": {
                "type": "object",
                "required": [
                    "locale",
                    "timezone",
                    "number_format",
                    "date_format",
                    "first_day_of_week",
                    "weekend_days"
                ],
                "properties": {
                    "locale": {
                        "type": "string"
                    },
                    "timezone": {
                        "type": "string"
                    },
                    "number_format": {
                        "type": "string"
                    },
                    "date_format": {
                        "type": "string"
                    },
                    "first_day_of_week": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 6
                    },
                    "weekend_days": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "Uom": {
                "type": "object",
                "required": [
                    "code",
                    "name",
                    "dimension",
                    "symbol",
                    "si_base"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "dimension": {
                        "type": "string"
                    },
                    "symbol": {
                        "type": "string",
                        "nullable": true
                    },
                    "si_base": {
                        "type": "boolean"
                    }
                }
            },
            "UomConversion": {
                "type": "object",
                "required": [
                    "from_code",
                    "to_code",
                    "factor"
                ],
                "properties": {
                    "from_code": {
                        "type": "string"
                    },
                    "to_code": {
                        "type": "string"
                    },
                    "factor": {
                        "type": "number",
                        "format": "float"
                    },
                    "offset": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    }
                }
            },
            "MoneySettings": {
                "type": "object",
                "required": [
                    "base_currency",
                    "pricing_currency",
                    "fx_source",
                    "price_round_rule",
                    "tax_regime",
                    "defaults"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "base_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "pricing_currency": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string",
                                "nullable": true
                            },
                            "minor_unit": {
                                "type": "integer",
                                "nullable": true
                            },
                            "symbol": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "fx_source": {
                        "type": "string",
                        "enum": [
                            "manual",
                            "fixer",
                            "openexchangerates"
                        ]
                    },
                    "price_round_rule": {
                        "type": "string"
                    },
                    "tax_regime": {
                        "type": "string",
                        "enum": [
                            "exclusive",
                            "inclusive"
                        ]
                    },
                    "defaults": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            },
            "FxRate": {
                "type": "object",
                "required": [
                    "id",
                    "base_code",
                    "quote_code",
                    "rate",
                    "as_of"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "base_code": {
                        "type": "string"
                    },
                    "quote_code": {
                        "type": "string"
                    },
                    "rate": {
                        "type": "string"
                    },
                    "as_of": {
                        "type": "string",
                        "format": "date"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TaxCode": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "code",
                    "name",
                    "type"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "vat",
                            "gst",
                            "sales",
                            "withholding",
                            "custom"
                        ]
                    },
                    "rate_percent": {
                        "type": "number",
                        "nullable": true
                    },
                    "is_compound": {
                        "type": "boolean"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AdminPlan": {
                "type": "object",
                "required": [
                    "id",
                    "code",
                    "name",
                    "price_usd"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "price_usd": {
                        "type": "number"
                    },
                    "rfqs_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "invoices_per_month": {
                        "type": "integer",
                        "nullable": true
                    },
                    "users_max": {
                        "type": "integer",
                        "nullable": true
                    },
                    "storage_gb": {
                        "type": "integer",
                        "nullable": true
                    },
                    "analytics_enabled": {
                        "type": "boolean"
                    },
                    "risk_scores_enabled": {
                        "type": "boolean"
                    },
                    "approvals_enabled": {
                        "type": "boolean"
                    },
                    "inventory_enabled": {
                        "type": "boolean"
                    },
                    "multi_currency_enabled": {
                        "type": "boolean"
                    },
                    "tax_engine_enabled": {
                        "type": "boolean"
                    },
                    "localization_enabled": {
                        "type": "boolean"
                    },
                    "exports_enabled": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AdminHealth": {
                "type": "object",
                "properties": {
                    "app_version": {
                        "type": "string"
                    },
                    "php_version": {
                        "type": "string"
                    },
                    "queue_connection": {
                        "type": "string"
                    },
                    "database_connected": {
                        "type": "boolean"
                    },
                    "pending_webhook_deliveries": {
                        "type": "integer"
                    }
                }
            },
            "WebhookSubscription": {
                "type": "object",
                "required": [
                    "id",
                    "company_id",
                    "url",
                    "events",
                    "active"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer"
                    },
                    "url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "secret_hint": {
                        "type": "string",
                        "nullable": true
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "retry_policy": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "WebhookDelivery": {
                "type": "object",
                "required": [
                    "id",
                    "subscription_id",
                    "event",
                    "status",
                    "attempts"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "subscription_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "company_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "event": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "dispatched",
                            "delivered",
                            "failed",
                            "dead_letter"
                        ]
                    },
                    "attempts": {
                        "type": "integer"
                    },
                    "last_error": {
                        "type": "string",
                        "nullable": true
                    },
                    "dispatched_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "delivered_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "Missing or invalid credentials.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorEnvelope"
                        },
                        "example": {
                            "status": "error",
                            "message": "Unauthorized.",
                            "code": "auth.missing_credentials",
                            "data": null,
                            "meta": {
                                "request_id": "b8bb15d3-8b83-4697-86f1-5cb5a9620e3a"
                            }
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Authenticated but lacking required permissions or tenant entitlements.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorEnvelope"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorEnvelope"
                        }
                    }
                }
            },
            "ValidationError": {
                "description": "Payload validation failed.",
                "headers": {
                    "X-Request-Id": {
                        "$ref": "#/components/headers/XRequestId"
                    }
                },
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorEnvelope"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/api/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "API health check",
                "description": "Lightweight readiness probe used by load balancers and the admin console.",
                "operationId": "getHealth",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Current API health information.",
                        "headers": {
                            "X-Request-Id": {
                                "$ref": "#/components/headers/XRequestId"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/SuccessEnvelope"
                                        },
                                        {
                                            "type": "object",
                                            "required": [
                                                "data"
                                            ],
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/HealthStatus"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "healthy": {
                                        "summary": "API healthy",
                                        "value": {
                                            "status": "success",
                                            "data": {
                                                "healthy": true,
                                                "app": "Elements Supply",
                                                "git_hash": "2b7f65f",
                                                "env": "production",
                                                "latency_ms": 42
                                            },
                                            "meta": {
                                                "request_id": "6cfb984a-8d54-4300-9a8d-52719fc6f7e7"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Upstream dependency failure.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/docs/openapi.json": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Download compiled OpenAPI document",
                "description": "Returns the compiled OpenAPI JSON artifact produced by the `api:spec:build` command.",
                "operationId": "downloadOpenApi",
                "security": [],
                "responses": {
                    "200": {
                        "description": "OpenAPI document.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "examples": {
                                    "reference": {
                                        "summary": "Fragment of the OpenAPI document",
                                        "value": {
                                            "openapi": "3.1.0",
                                            "info": {
                                                "title": "Elements Supply API",
                                                "version": "2025.11.0"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No compiled document found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/docs/postman.json": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Download Postman collection",
                "description": "Returns the Postman collection generated from the compiled OpenAPI document.",
                "operationId": "downloadPostmanCollection",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Postman v2.1 collection file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "examples": {
                                    "metadata": {
                                        "summary": "Example collection info",
                                        "value": {
                                            "info": {
                                                "name": "Elements Supply API",
                                                "schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No generated Postman collection found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/companies": {
            "post": {
                "tags": [
                    "Companies & Plans"
                ],
                "summary": "Register company",
                "description": "TODO: clarify onboarding payload per requirements.",
                "operationId": "registerCompany",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Company registered.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiSuccessResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CompanyResource"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                }
            }
        },
        "/api/companies/{company}": {
            "parameters": [
                {
                    "name": "company",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "tags": [
                    "Companies & Plans"
                ],
                "summary": "Show company",
                "operationId": "showCompany",
                "responses": {
                    "200": {
                        "description": "Company details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ApiSuccessResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CompanyResource"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "Companies & Plans"
                ],
                "summary": "Update company profile",
                "operationId": "updateCompany",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company updated.",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
